In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import gdown

%matplotlib inline

In [3]:
df4 = pd.read_excel('Linkedin_Extract_20230804.xlsx')
df = pd.read_excel('Linkedin_Extract_20231107.xlsx')

In [4]:
df = pd.concat([df, df4], ignore_index=True)
df.drop_duplicates(inplace = True)

In [5]:
df = df.dropna(subset=['name'])

In [6]:
df.drop_duplicates(subset='name', keep='first',inplace = True)

In [7]:
df.reset_index(drop = True,inplace =True)

In [8]:
df.shape

(6393, 535)

In [9]:
df['location'] = df['location'].apply(lambda x: str(x).split(',')[0].lower())

In [10]:
df['location'] = df['location'].str.replace('bengaluru', 'bangalore')

In [11]:
def replace_values(df, column_names):
    for col in column_names:
        df[col] = df[col].fillna('')
        df[col] = df[col].apply(lambda x: x.lower())
        df[col] = df[col].apply(lambda x: str(x).split(',')[0].lower())
        len1 = df[df[col].str.split().str.len() == 1][col]
        len2 = df[df[col].str.split().str.len() > 1][col]

        for i in len2:
            for j in len1:
                if pd.notna(i) and pd.notna(j) and j in i:
                    replacement_indices = df[df[col] == i].index
                    df.loc[replacement_indices, col] = j

In [12]:
columns_to_process = ['location']
replace_values(df, columns_to_process)

job_location_cols = [col for col in df.columns if 'job' in col and 'location' in col]
columns_to_process = job_location_cols
replace_values(df, columns_to_process)

In [13]:
df.shape

(6393, 535)

In [14]:
pattern = r'([a-zA-Z]{3} \d{4} - [a-zA-Z]{3} \d{4})'

# Create a boolean mask for matching rows
mask = df[job_location_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

C:\Users\PM\AppData\Local\Temp\ipykernel_18504\2289397629.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[job_location_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

In [15]:
df = df[~mask]
df.shape

(6333, 535)

# all location columns are done.

In [16]:
    # 'name', 'location',
    # 'title', 'org', 'job_duration', 'job_location',
    # 'institute', 'digree', 'digree_duration',
    # 'skill',
    # 'company_emp_count', 'company_industry',

In [17]:
df['name'].apply(lambda x: x.lower())

0        prasad chandran
1       tamilmani selvan
2          shruti shruti
3         siddharth jain
4           swapnil more
              ...
6387          shihad pkd
6388     sunil tadepalli
6389          raj sundar
6390       mohamed ilyas
6392           suresh ck
Name: name, Length: 6333, dtype: object

In [18]:
title_cols = [col for col in df.columns if 'title' in col]

In [19]:
def process_title(title):
    if isinstance(title, str):
        parts = title.split(',')[0]  # Split by comma and get the first part
        return(parts.lower())          # Convert to lowercase
    else:
        return(title)
df[title_cols] = df[title_cols].applymap(process_title)

In [ ]:
unique_title = set()
for col in title_cols:
    unique_title.update(set(df[col].unique()))

# title cols...done

In [20]:
for column in df.columns:
  df[column]=df[column].str.lower().replace(r'[^\w\s]', '')
  df[column] = df[column].str.replace(r'fulltime|selfemployed|· self-employed|· full-time', '', flags=re.IGNORECASE).str.strip()

C:\Users\PM\AppData\Local\Temp\ipykernel_18504\3629998960.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(r'fulltime|selfemployed|· self-employed|· full-time', '', flags=re.IGNORECASE).str.strip()

In [21]:
    # 'name', 'location',
    # 'title', 'org', 'job_duration', 'job_location',
    # 'institute', 'digree', 'digree_duration',
    # 'skill',
    # 'company_emp_count', 'company_industry',

In [22]:
org_cols = ([col for col in df.columns if 'org' in col])

In [23]:
df.shape

(6333, 535)

In [24]:
pattern = r'(\d{1,2}) yrs (\d{1,2}) mos'
# Create a boolean mask for matching rows
mask = df[org_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)
df = df[~mask]
df.shape

C:\Users\PM\AppData\Local\Temp\ipykernel_18504\3756124456.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[org_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

(6226, 535)

In [25]:
def process_title(title):
    if isinstance(title, str):
        parts = title.split('(')[0]  # Split by comma and get the first part
        return(parts.lower())          # Convert to lowercase
    else:
        return(title)
df[org_cols] = df[org_cols].applymap(process_title)

In [33]:
df[org_cols]

,org_0,org_0_sub_0,org_0_sub_1,org_0_sub_2,org_0_sub_3,org_0_sub_4,org_0_sub_5,org_0_sub_6,org_0_sub_7,org_0_sub_8,...,org_15,org_15_sub_0,org_15_sub_1,org_16,org_16_sub_0,org_16_sub_1,org_17,org_18,org_19,current_org_industry
0,swift infos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,vidai labs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,apnaklub,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,brewhouse tea brewing co.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,alteryx india,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6387,hira enterprise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6389,auxo technology labs private limited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6390,ilyzly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,retail apparel and fashion
6392,v&v associates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ORG done

In [34]:
df.to_csv('df.csv',index = False)

In [35]:
df=pd.read_csv('df.csv')

C:\Users\PM\AppData\Local\Temp\ipykernel_18504\3671688458.py:1: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,202,203,204,206,207,208,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,278,279,280,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,386,387,388,390,391,392,393,394,395,396,398,399,400,402,403,404,405,406,407,408,410,411,412,414,415,416,417,418,419,420,422,423,424,426,427,428,429,430,431,432,433,434,435,436,437,444,445,446,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('df.csv')

checkpoint

In [36]:
    # 'name', 'location',
    # 'title', 'org', 'job_duration', 'job_location',
    # 'institute', 'digree', 'digree_duration',
    # 'skill',
    # 'company_emp_count', 'company_industry',

In [37]:
job_duration_cols = [col for col in df.columns if 'job' in col and 'duration' in col]

In [38]:
# # Function to extract and convert duration to months
# def extract_duration_to_months(duration_str):
#     if pd.isna(duration_str):
#         return 0
#     pattern = r'(\d+)\s*(?:yr|y(?:r|ears))?.*?(\d+)\s*mo(?:s|nths)?|(\d+)\s*yr'

#     total_months = 0
#     matches = re.findall(pattern, duration_str)

#     for match in matches:
#         years, months, years_only = match
#         if years:
#             years = int(years)
#             total_months += years * 12
#         if months:
#             months = int(months)
#             total_months += months
#         if years_only:
#             years_only = int(years_only)
#             total_months += years_only * 12
#     print(years, months, years_only )

In [39]:
df.to_csv('df.csv',index = False)

In [40]:
df = pd.read_csv('df.csv')

C:\Users\PM\AppData\Local\Temp\ipykernel_18504\275008081.py:1: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,202,203,204,206,207,208,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,278,279,280,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,386,387,388,390,391,392,393,394,395,396,398,399,400,402,403,404,405,406,407,408,410,411,412,414,415,416,417,418,419,420,422,423,424,426,427,428,429,430,431,432,433,434,435,436,437,444,445,446,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('df.csv')

In [41]:
def extract_duration_to_months(duration_str):
    if pd.isna(duration_str):
        return 'NAN'

    pattern1 = r'(\d+)\s*y(?:r|ears)?.*?(\d+)\s*mo(?:s|nths)?'
    pattern2 = r'(\d+)\s*(?:yr|y(?:r|ears))?.*?(\d+)\s*mo(?:s|nths)?|(\d+)\s*yr'

    total_months_1 = 0
    total_months_2 = 0

    matches1 = re.findall(pattern1, duration_str)
    for match in matches1:
        years, months = match
        if years:
            years = int(years)
            total_months_1 += years * 12
        if months:
            months = int(months)
            total_months_1 += months

    matches2 = re.findall(pattern2, duration_str)
    for match in matches2:
        years, months, years_only = match
        if years:
            years = int(years)
            total_months_2 += years * 12
        if months:
            months = int(months)
            total_months_2 += months
        if years_only:
            years_only = int(years_only)
            total_months_2 += years_only * 12
    l = max(total_months_1, total_months_2)

    tot = 0

    if not len(str(l)) > 4:
      tot = (l)
    else:
      tot = (min(total_months_1, total_months_2))

    tot = tot/12

    if tot < 1:
        return "Less than 1 year"
    elif tot <= 6:
        return f"{int(tot)} years"
    else:
        return "Greater than 6 years"

for cols in job_duration_cols:
  df[cols]=df[cols].apply(extract_duration_to_months)

In [42]:
df[job_duration_cols]

,job_0_duration,job_0_sub_0_duration,job_0_sub_1_duration,job_0_sub_2_duration,job_0_sub_3_duration,job_0_sub_4_duration,job_0_sub_5_duration,job_0_sub_6_duration,job_0_sub_7_duration,job_0_sub_8_duration,...,job_14_sub_1_duration,job_15_duration,job_15_sub_0_duration,job_15_sub_1_duration,job_16_duration,job_16_sub_0_duration,job_16_sub_1_duration,job_17_duration,job_18_duration,job_19_duration
0,Greater than 6 years,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1,1 years,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
2,4 years,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
3,Greater than 6 years,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
4,4 years,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6221,Greater than 6 years,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
6222,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
6223,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
6224,Greater than 6 years,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
6225,4 years,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

# duration done

In [43]:
institute_cols = [col for col in df.columns if 'institute' in col]

In [44]:
df[institute_cols]

,institute_0,institute_1,institute_2,institute_3,institute_4
0,NaN,NaN,NaN,NaN,NaN
1,amrita vishwa vidyapeetham,"adhiyamann college of engineering, hosur",s.r.c memorial metric higher secondary school,NaN,NaN
2,harvard business school,"indian institute of technology, delhi",NaN,NaN,NaN
3,"indian institute of management, calcutta",delhi university,NaN,NaN,NaN
4,dy patil international school,poddar international college - india,NaN,NaN,NaN
...,...,...,...,...,...
6221,ceo,manager,business development manager,marketing manager,marketing assistant
6222,all india institute of medical sciences,osmania university,NaN,NaN,NaN
6223,ceo,NaN,NaN,NaN,NaN
6224,rome business school,hindustan university,don bosco matriculation higher secondary school,NaN,NaN
6225,ceo,senior engineer,deputy manager,sr engineer,NaN

In [45]:
df.shape

(6226, 535)

In [46]:
def contains_unwanted_values(row):
    unwanted_values = ['ceo', 'sr engineer','founder','managing director']
    return any(val.lower() in str(row).lower() for val in unwanted_values)

# Create a boolean mask based on the condition
mask = df[institute_cols].apply(contains_unwanted_values, axis=1)
df = df[~mask]
df.shape

(6105, 535)

In [47]:
def process_title(title):
    if isinstance(title, str):
        parts = title.split(',')[0]  # Split by comma and get the first part
        return(parts.lower())          # Convert to lowercase
    else:
        return(title)
df[institute_cols] = df[institute_cols].applymap(process_title)

In [48]:
df[institute_cols].head()

,institute_0,institute_1,institute_2,institute_3,institute_4
0,NaN,NaN,NaN,NaN,NaN
1,amrita vishwa vidyapeetham,adhiyamann college of engineering,s.r.c memorial metric higher secondary school,NaN,NaN
2,harvard business school,indian institute of technology,NaN,NaN,NaN
3,indian institute of management,delhi university,NaN,NaN,NaN
4,dy patil international school,poddar international college - india,NaN,NaN,NaN

#instute cols done

In [49]:
    # 'name', 'location',
    # 'title', 'org', 'job_duration', 'job_location',
    # 'institute', 'digree', 'digree_duration',
    # 'skill',
    # 'company_emp_count', 'company_industry',

In [50]:
degree_cols = [col for col in df.columns if 'digree' in col and 'duration' not in col]

In [51]:
df.shape

(6105, 535)

In [52]:
pattern = r'(\d{4}) - (\d{4})'

# Create a boolean mask for matching rows
mask = df[degree_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

# Filter out rows based on the mask
df = df[~mask]
df.shape

C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1228204545.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[degree_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

(5752, 535)

In [53]:
pattern = r'(\d{4}) - (\d{4})'

# Create a boolean mask for matching rows
mask = df[degree_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

# Filter out rows based on the mask
df = df[~mask]
df.shape

C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1228204545.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[degree_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

(5752, 535)

In [54]:
pattern = r'([a-zA-Z]{3} \d{4}) - ([a-zA-Z]{3} \d{4})'
mask = df[degree_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

# Filter out rows based on the mask
df = df[~mask]
df.shape

C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1577341530.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[degree_cols].apply(lambda col: col.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

(5741, 535)

In [55]:
def process_title(title):
    if isinstance(title, str):
        parts = title.split(',')[0]  # Split by comma and get the first part
        return(parts.lower())          # Convert to lowercase
    else:
        return(title)
df[degree_cols] = df[degree_cols].applymap(process_title)

def process_title(title):
    if isinstance(title, str):
        parts = title.split('(')[0]  # Split by comma and get the first part
        return(parts.lower())          # Convert to lowercase
    else:
        return(title)
df[degree_cols] = df[degree_cols].applymap(process_title)

In [56]:
df[degree_cols]

,digree_0,digree_1,digree_2,digree_3,digree_4
0,NaN,NaN,NaN,NaN,NaN
1,m.tech,b.tech,h.s.c,NaN,NaN
2,master of business administration - mba,bachelor of technology,NaN,NaN,NaN
3,mba,bachelor of commerce,NaN,NaN,NaN
4,master of business administration - mba,bachelor of commerce - bcom,NaN,NaN,NaN
...,...,...,...,...,...
6214,osmania university,NaN,NaN,NaN,NaN
6216,bachelor of business administration,NaN,NaN,NaN,NaN
6218,bachelor's degree,NaN,NaN,NaN,NaN
6219,master of commerce,diploma in java technologies,bachelor of commerce - bcom,NaN,NaN
6222,doctor of medicine - md,mbbs,NaN,NaN,NaN

# degree cols done

In [57]:
# 'digree_duration',
# 'skill',
# 'company_emp_count', 'company_industry',

In [58]:
degree_duration_cols = [col for col in df.columns if 'digree' in col and 'duration' in col]

In [59]:
df[degree_duration_cols]

,digree_0_duration,digree_1_duration,digree_2_duration,digree_3_duration,digree_4_duration
0,NaN,NaN,NaN,NaN,NaN
1,2020 - 2022,2013 - 2017,1998 - 2013,NaN,NaN
2,2017 - 2019,2008 - 2012,NaN,NaN,NaN
3,2004 - 2006,1998 - 2001,NaN,NaN,NaN
4,2014 - 2016,NaN,NaN,NaN,NaN
...,...,...,...,...,...
6214,NaN,NaN,NaN,NaN,NaN
6216,2004 - 2007,NaN,NaN,NaN,NaN
6218,2006 - 2009,NaN,NaN,NaN,NaN
6219,apr 2016 - mar 2018,2011 - 2017,2013 - 2016,NaN,NaN
6222,1986 - 1988,1978 - 1985,NaN,NaN,NaN

In [60]:
import re

def calculate_duration(duration_str):
    pattern = r'(\d{4}) - (\d{4})'
    matches = re.findall(pattern, duration_str)

    total_months = 0
    for start_year, end_year in matches:
      if start_year.isdigit() and end_year.isdigit():
        start_year = int(start_year)
        end_year = int(end_year)
        total_months += (end_year - start_year) * 12
      else:
        return "NAN"

    total_years = total_months / 12

    if total_years < 1:
        return "Less than 1 year"
    elif total_years <= 4:
        return f"{int(total_years)} years"
    else:
        return "Greater than 4 years"

df[degree_duration_cols] = df[degree_duration_cols].applymap(lambda x: calculate_duration(str(x)) if isinstance(x, str) else 'NAN')

# digree duration done

In [61]:
# 'skill',
# 'company_emp_count', 'company_industry',

In [62]:
comp_emp = [col for col in df.columns if 'company' in col and 'emp' in col]
# comp_emp.append('employee_count')

In [65]:
def process_column(x):
    if pd.notnull(x):
        x = re.sub(r'employees|employee|alumni|overview|alumnus| associated members|associated member', '', x)
        x = x.replace(',', '')
        if x:
            return float(x)
    return x

# Process columns
for column in comp_emp:
    df[column] = df[column].astype(str).apply(process_column)

In [66]:
df['company_2_emp_count'] = df['company_2_emp_count'].replace('', np.nan).astype(float)

In [67]:
df[comp_emp].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5741 entries, 0 to 6222
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company_0_emp_count   3411 non-null   float64
 1   company_1_emp_count   2959 non-null   float64
 2   company_2_emp_count   2569 non-null   float64
 3   company_3_emp_count   2160 non-null   float64
 4   company_4_emp_count   1640 non-null   float64
 5   company_5_emp_count   662 non-null    float64
 6   company_6_emp_count   432 non-null    float64
 7   company_7_emp_count   261 non-null    float64
 8   company_8_emp_count   151 non-null    float64
 9   company_9_emp_count   101 non-null    float64
 10  company_10_emp_count  57 non-null     float64
 11  company_11_emp_count  32 non-null     float64
 12  company_12_emp_count  22 non-null     float64
 13  company_13_emp_count  15 non-null     float64
 14  company_14_emp_count  13 non-null     float64
 15  company_15_emp_count  4 non-null      float64
 16  company_16_emp_count  7 non-null      float64
 17  company_17_emp_count  5 non-null      float64
 18  company_18_emp_count  3 non-null      float64
 19  company_19_emp_count  3 non-null      float64
dtypes: float64(20)
memory usage: 941.9 KB

# emp_count done

In [68]:
comp_ind = [col for col in df.columns if 'company' in col and 'industry' in col]

In [69]:
df[comp_ind]

,company_0_industry,company_1_industry,company_2_industry,company_3_industry,company_4_industry,company_5_industry,company_6_industry,company_7_industry,company_8_industry,company_9_industry,company_10_industry,company_11_industry,company_12_industry,company_13_industry,company_14_industry,company_15_industry,company_16_industry,company_17_industry,company_18_industry,company_19_industry
0,it services and it consulting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,veterinary services,manufacturing,food and beverage services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,wholesale,NaN,business consulting and services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,food and beverage services,banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# cleaning is done

In [70]:
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)
df.to_excel('Linkedin_cleaned.xlsx',index = False)

In [71]:
df = pd.read_excel('Linkedin_cleaned.xlsx')
orgdf = df.copy()

In [72]:
sdf = pd.DataFrame()
titlecols = [col for col in df.columns if 'title' in col]
sdf['all_titles'] = df[titlecols].apply(lambda row: ','.join(row.dropna().astype(str)), axis=1)#--------------------------------------remove punctuvation
# sdf.drop(columns=titlecols, inplace=True)

# Title

In [73]:
titles = []
for i in sdf['all_titles']:
  for j in i.split(','):
    titles.append(j)
len(titles)

24218

In [74]:
from collections import defaultdict
title_counts = defaultdict(int)

for title in titles:
    title_counts[title] += 1

# Step 3: Sort the names based on their counts
sorted_title = sorted(title_counts.keys(), key=lambda title: title_counts[title], reverse=True)
sorted_title

titlec = []
# Print the sorted names
for title in sorted_title:
    titlec.append(f"{title}: {title_counts[title]}")

In [75]:
titledict = {}

In [76]:
inlist = ['founder']
notinlist = ['co','ceo','chief executive officer','c.e.o']# founder
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['founder'] = apl

inlist = ['founder','co']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','product manager']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['co-founder'] = apl

inlist = ['ceo','chief executive officer','c.e.o']# founder and ceo         -- after mapping founder, ceo if there is founder in the list yet. then they are founder and ceo
notinlist = ['founder','product manager']
apl = set()
for i in sorted_title:
    if any(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['ceo'] = apl

inlist = ['cfo']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','product manager','assistant']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['cfo'] = apl

inlist = ['product manager']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','assistant']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['product manager'] = apl

inlist = ['project manager']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','assistant']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['project manager'] = apl

inlist = ['head','hr']# co-founder
notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','assistant','branch','polychrome','andhra pradesh']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['head-hr'] = apl

# inlist = ['head','hr']# co-founder
# notinlist = ['ceo','chief executive officer','c.e.o','chief operating officer','assistant','branch','polychrome','andhra pradesh']
# apl = set()
# for i in sorted_title:
#     if all(word in i for word in inlist) and all(word not in i for word in notinlist):
#       apl.add(i)
# titledict['head-hr'] = apl
# apl

In [77]:
def map_degree(value):
    for k, v in titledict.items():
        if value in v:
            return k
    return value
for col in titlecols:
  df[f'mapped_{col}'] = df[col].apply(map_degree)

C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)
C:\Users\PM\AppData\Local\Temp\ipykernel_18504\1005312149.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'mapped_{col}'] = df[col].apply(map_degree)

In [78]:
df.columns

Index(['name', 'location', 'org_0', 'title_0', 'job_0_duration',
       'job_0_location', 'org_0_sub_0', 'title_0_sub_0',
       'job_0_sub_0_duration', 'job_0_sub_0_location',
       ...
       'mapped_title_14_sub_1', 'mapped_title_15', 'mapped_title_15_sub_0',
       'mapped_title_15_sub_1', 'mapped_title_16', 'mapped_title_16_sub_0',
       'mapped_title_16_sub_1', 'mapped_title_17', 'mapped_title_18',
       'mapped_title_19'],
      dtype='object', length=644)

In [79]:
sdf = pd.DataFrame()
maptitlecols = []
for i in range(len(titlecols)):
  maptitlecols.append(f'mapped_{titlecols[i]}')
sdf['all_titles'] = df[maptitlecols].apply(lambda row: ','.join(row.dropna().astype(str)), axis=1)#--------------------------------------remove punctuvation

In [80]:
titles = []
for i in sdf['all_titles']:
  for j in i.split(','):
    titles.append(j)
len(titles)

24218

In [81]:
from collections import defaultdict
title_counts = defaultdict(int)

for title in titles:
    title_counts[title] += 1

# Step 3: Sort the names based on their counts
sorted_title = sorted(title_counts.keys(), key=lambda title: title_counts[title], reverse=True)
sorted_title

titlec = []
# Print the sorted names
for title in sorted_title:
    titlec.append(f"{title}: {title_counts[title]}")
titlec

['founder: 1434',
 'ceo: 1296',
 'product manager: 1077',
 'head-hr: 800',
 'co-founder: 620',
 'project manager: 359',
 'director: 352',
 'cfo: 344',
 'managing director: 293',
 'chief financial officer: 284',
 'founder & ceo: 255',
 'intern: 196',
 'software engineer: 152',
 'manager: 150',
 'summer intern: 137',
 'consultant: 133',
 ': 131',
 'hr manager: 127',
 'head of human resources: 110',
 'founder and ceo: 101',
 'vice president: 100',
 'business analyst: 96',
 'general manager: 96',
 'assistant manager: 94',
 'hr executive: 78',
 'senior manager: 75',
 'president: 74',
 'associate: 70',
 'business development manager: 69',
 'management trainee: 69',
 'partner: 68',
 'owner: 66',
 'senior software engineer: 58',
 'human resources manager: 54',
 'managing partner: 53',
 'chief operating officer: 51',
 'co-founder & ceo: 50',
 'executive director: 47',
 'chairman: 45',
 'analyst: 42',
 'proprietor: 41',
 'senior consultant: 40',
 'software developer: 39',
 'team lead: 38',
 'trainee: 38',
 'marketing intern: 37',
 'deputy manager: 36',
 'head: 35',
 'business development executive: 35',
 'ceo & founder: 34',
 'executive: 34',
 'manager hr: 34',
 'manager - hr: 34',
 'summer internship: 33',
 'advisor: 33',
 'internship: 32',
 'member: 31',
 'hr business partner: 31',
 'finance manager: 30',
 'research intern: 30',
 'product management intern: 30',
 'senior vice president: 29',
 'marketing manager: 27',
 'team leader: 27',
 'program manager: 27',
 'entrepreneur: 27',
 'coo: 27',
 'senior human resources manager: 27',
 'associate consultant: 26',
 'relationship manager: 26',
 'operations manager: 26',
 'branch manager: 26',
 'manager - human resources: 26',
 'hr: 25',
 'senior associate: 25',
 'architect: 25',
 'sales manager: 24',
 'associate vice president: 24',
 'project engineer: 24',
 'board member: 24',
 'assistant manager human resources: 24',
 'sales executive: 23',
 'associate director: 23',
 'group chief financial officer: 23',
 'co-founder and ceo: 22',
 'hr generalist: 22',
 'engineer: 21',
 'senior business analyst: 21',
 'student: 21',
 'business owner: 21',
 'product analyst: 21',
 'financial controller: 21',
 'account manager: 20',
 'digital marketing intern: 20',
 'coordinator: 20',
 'web developer: 20',
 'human resources: 20',
 'internship trainee: 20',
 'head - human resources: 20',
 'product executive: 20',
 'vice president human resources: 20',
 'assistant professor: 19',
 'head of operations: 19',
 'campus ambassador: 19',
 'talent acquisition specialist: 19',
 'head human resources: 19',
 'assistant manager - hr: 19',
 'chief human resources officer: 19',
 'project intern: 18',
 'chief technology officer: 18',
 'marketing executive: 18',
 'technical lead: 18',
 'principal consultant: 18',
 'finance controller: 18',
 'assistant manager hr: 18',
 'ceo and founder: 17',
 'human resources specialist: 17',
 'deputy general manager: 17',
 'research associate: 17',
 'angel investor: 17',
 'principal: 17',
 'mentor: 17',
 'cto: 16',
 'sr. manager: 16',
 'regional manager: 16',
 'senior executive: 16',
 'avp: 16',
 'business head: 16',
 'senior engineer: 16',
 'project coordinator: 16',
 'senior director: 15',
 'management consultant: 15',
 'business development: 15',
 'project trainee: 15',
 'management intern: 15',
 'human resources executive: 15',
 'associate software engineer: 15',
 'assistant product manager: 15',
 'project lead: 15',
 'head of talent acquisition: 15',
 'recruiter: 15',
 'ceo & co-founder: 14',
 'associate manager: 14',
 'head of finance: 14',
 'founder ceo: 14',
 'senior executive human resources: 14',
 'research assistant: 14',
 'assistant vice president: 14',
 'area sales manager: 13',
 'programmer analyst: 13',
 'article assistant: 13',
 'system engineer: 13',
 'senior analyst: 13',
 'technical recruiter: 13',
 'research analyst: 13',
 'digital marketing manager: 13',
 'sales and marketing intern: 13',
 'programmer: 13',
 'company owner: 13',
 'branch head: 13',
 'industrial trainee: 13',
 'human resources business partner: 13',
 'executive hr: 13',
 'gm: 13',
 'human resources consultant: 13',
 'systems engineer: 12',
 'business consultant: 12',
 'chief people officer: 12',
 'business development associate: 12',
 'independent consultant: 12',
 'account executive: 12',
 'regional sales manager: 12',
 'interior designer: 12',
 'technical manager: 12',
 'key account manager: 12',
 'chief manager: 12',
 'recruitment manager: 12',
 'head of marketing: 12',
 'asst. manager: 12',
 'data scientist: 12',
 'process associate: 12',
 'digital marketing executive: 12',
 'talent acquisition manager: 12',
 'director finance: 12',
 'manager finance: 12',
 'product owner: 12',
 'senior manager - hr: 12',
 'senior executive hr: 12',
 'senior manager - human resources: 12',
 'lecturer: 11',
 'project leader: 11',
 'social media manager: 11',
 'md: 11',
 'design engineer: 11',
 'director of engineering: 11',
 'event coordinator: 11',
 'summer trainee: 11',
 'co-owner: 11',
 'financial analyst: 11',
 'human resources intern: 11',
 'data analyst: 11',
 'secretary: 11',
 'vice president finance: 11',
 'brand manager: 11',
 'officer: 11',
 'senior advisor: 11',
 'asst. manager - hr: 11',
 'senior manager hr: 11',
 'hr consultant: 11',
 'manager human resources: 11',
 'hr recruiter: 10',
 'summer associate: 10',
 'engineering manager: 10',
 'volunteer: 10',
 'entrepreneur in residence: 10',
 'business development intern: 10',
 'digital marketing specialist: 10',
 'visiting faculty: 10',
 'strategic advisor: 10',
 'cmd: 10',
 'technical consultant: 10',
 'senior account manager: 10',
 'teacher: 10',
 'country manager: 10',
 'team member: 10',
 'corporate trainer: 10',
 'director human resources: 10',
 'manager-hr: 10',
 'executive - hr: 10',
 'government id: 10',
 'business partner: 9',
 'member board of directors: 9',
 'architectural intern: 9',
 'investor: 9',
 'technical architect: 9',
 'project head: 9',
 'application developer: 9',
 'system analyst: 9',
 'chief executive: 9',
 'freelancer: 9',
 'visiting professor: 9',
 'assistant general manager: 9',
 'chief marketing officer: 9',
 'vice president - finance: 9',
 'it manager: 9',
 'director of operations: 9',
 'head - talent acquisition: 9',
 'executive vice president: 9',
 'head of recruitment: 9',
 'finance director: 9',
 'manager - finance & accounts: 9',
 'general manager hr: 9',
 'asst manager hr: 9',
 'hr intern: 9',
 'recruitment specialist: 9',
 'director hr: 9',
 'workplace: 9',
 'financial advisor: 8',
 'vp: 8',
 'chairman & managing director: 8',
 'content writer: 8',
 'product: 8',
 'professor: 8',
 'product engineer: 8',
 'area manager: 8',
 'senior talent acquisition specialist: 8',
 'customer service representative: 8',
 'founding member: 8',
 'chartered accountant: 8',
 'senior program manager: 8',
 'center manager: 8',
 'graduate engineering trainee: 8',
 'talent acquisition: 8',
 'senior business development manager: 8',
 'psychologist: 8',
 'certified legal intern: 8',
 'founding partner: 8',
 'administrator: 8',
 'placement coordinator: 8',
 'territory manager: 8',
 'professional freelancer: 8',
 'self employed: 8',
 'php developer: 8',
 'lead engineer: 8',
 'team manager: 8',
 'business manager: 8',
 'asst manager: 8',
 'teaching assistant: 8',
 'principal engineer: 8',
 'market research intern: 8',
 'chro: 8',
 'associate professor: 8',
 'regional head: 8',
 'accounts manager: 8',
 'general manager finance: 8',
 'product lead: 8',
 'sr. consultant: 8',
 'general manager human resources: 8',
 'articled assistant: 8',
 'principal architect: 7',
 'junior architect: 7',
 'founder / ceo: 7',
 'independent director: 7',
 'delivery manager: 7',
 'principal software engineer: 7',
 'category manager: 7',
 'managing editor: 7',
 'project specialist: 7',
 'graphic designer: 7',
 'technical analyst: 7',
 'assistant director: 7',
 'head of business development: 7',
 'marketing: 7',
 'audit assistant: 7',
 'service engineer: 7',
 'accountant: 7',
 'associate partner: 7',
 'tech lead: 7',
 'assistant project manager: 7',
 'vice president - hr: 7',
 'system administrator: 7',
 'it recruiter: 7',
 'operations executive: 7',
 'general manager - finance: 7',
 'dgm: 7',
 'general manager - human resources: 7',
 'commercial manager: 7',
 'finance executive: 7',
 'gm finance: 7',
 'product management: 7',
 'software engineer intern: 7',
 'group manager: 7',
 'personnel officer: 7',
 'vice president - human resources: 7',
 'hr specialist: 7',
 'hr officer: 7',
 'senior manager human resources: 7',
 'senior executive - hr: 7',
 'director - human resources: 7',
 'merchandiser: 7',
 'software developer intern: 6',
 'risk analyst: 6',
 'web designer: 6',
 'business development specialist: 6',
 'assistant manager finance: 6',
 'sr. vice president: 6',
 'engineering intern: 6',
 'student coordinator: 6',
 'student intern: 6',
 'training: 6',
 'seo analyst: 6',
 'faculty: 6',
 'head of business operations: 6',
 'senior recruiter: 6',
 'designer: 6',
 'summer analyst: 6',
 'fellow: 6',
 'manager business development: 6',
 'quality analyst: 6',
 'software programmer: 6',
 'lead: 6',
 'senior: 6',
 'freelance consultant: 6',
 'dy. general manager: 6',
 'dgm finance: 6',
 'vp finance: 6',
 'it consultant: 6',
 'project management intern: 6',
 'human resource: 6',
 'manager- hr: 6',
 'hr director: 6',
 'head talent acquisition: 6',
 'agm: 6',
 'deputy manager human resources: 6',
 'sr. manager hr: 6',
 'vice president hr: 6',
 'chairperson: 5',
 'accounts executive: 5',
 'member of the board of advisors: 5',
 'production manager: 5',
 'product designer: 5',
 'senior relationship manager: 5',
 'junior engineer: 5',
 'sales and marketing specialist: 5',
 'group head: 5',
 'head of sales: 5',
 'sales engineer: 5',
 'head of engineering: 5',
 'founding director: 5',
 'cluster manager: 5',
 'executive board member: 5',
 'asst. manager hr: 5',
 'developer: 5',
 'production engineer: 5',
 'senior interior designer: 5',
 'founder & chief executive officer: 5',
 'creative director: 5',
 'senior engineering manager: 5',
 'lead consultant: 5',
 'founder/ceo: 5',
 'senior architect: 5',
 'technical support engineer: 5',
 'site engineer: 5',
 'hrd manager: 5',
 'student mentor: 5',
 'student volunteer: 5',
 'operations: 5',
 'software development engineer: 5',
 'vice president operations: 5',
 'director of business development: 5',
 'senior system engineer: 5',
 'product consultant: 5',
 'executive assistant: 5',
 'dgm-hr: 5',
 'software engineering intern: 5',
 'country head: 5',
 'project director: 5',
 'personal goal pursuit: 5',
 'head of product: 5',
 'education consultant: 5',
 'senior hr executive: 5',
 'sr vice president: 5',
 'manager - finance: 5',
 'group financial controller: 5',
 'accounts officer: 5',
 'senior finance manager: 5',
 'deputy manager finance: 5',
 'chief finance officer: 5',
 'business technology analyst: 5',
 'program management intern: 5',
 'assistant system engineer: 5',
 'software development intern: 5',
 'mba summer intern: 5',
 'market research analyst: 5',
 'office manager: 5',
 'commercial executive: 5',
 'manager hr & admin: 5',
 'senior hr manager: 5',
 'vp hr: 5',
 'human resources assistant: 5',
 'human resources director: 5',
 'deputy manager - hr: 5',
 'human resources officer: 5',
 'hr assistant: 5',
 'regional hr manager: 5',
 'general manager - hr: 5',
 'senior hr business partner: 5',
 'hrbp: 5',
 'field work intern: 5',
 'talent acquisition consultant: 5',
 'vice chairman: 4',
 'bdm: 4',
 'investment banker: 4',
 'group vice president: 4',
 'non executive director: 4',
 'team lead manager: 4',
 'lead software engineer: 4',
 'senior design engineer: 4',
 'technical assistant: 4',
 'manager - business development: 4',
 'sr recruiter: 4',
 'sr. executive: 4',
 'senior web developer: 4',
 'delegate: 4',
 'technical team lead: 4',
 'editor in chief: 4',
 'city head: 4',
 'sr. business analyst: 4',
 'customer service: 4',
 'managing trustee: 4',
 'research scholar: 4',
 'member of technical staff: 4',
 'sales director: 4',
 'systems analyst: 4',
 'technical head: 4',
 'manager projects: 4',
 'chairman of the board: 4',
 'article trainee: 4',
 'chief innovation officer: 4',
 'training manager: 4',
 'freelance: 4',
 'sr. software engineer: 4',
 'dentist: 4',
 'social worker: 4',
 'junior interior designer: 4',
 'advisory board member: 4',
 'product specialist: 4',
 'director - business development: 4',
 'cofounder & ceo: 4',
 'summer research intern: 4',
 'social media marketing intern: 4',
 'senior operations manager: 4',
 'company secretary: 4',
 'manager finance & accounts: 4',
 'development team lead: 4',
 'head of product management: 4',
 'sr consultant: 4',
 'treasurer: 4',
 'senior software developer: 4',
 'senior developer: 4',
 'design manager: 4',
 'vice president of technology: 4',
 'sr manager: 4',
 'sap bw consultant: 4',
 'credit manager: 4',
 'internal auditor: 4',
 'head of growth: 4',
 'audit manager: 4',
 'senior project engineer: 4',
 '.net developer: 4',
 'event manager: 4',
 'senior recruitment consultant: 4',
 'head - operations: 4',
 'yoga teacher: 4',
 'co founder & ceo: 4',
 'cluster head: 4',
 'investment analyst intern: 4',
 'project analyst: 4',
 'network engineer: 4',
 'front office executive: 4',
 'iit jee maths faculty: 4',
 'chief business officer: 4',
 'finance officer: 4',
 'program officer: 4',
 'associate director - human resources: 4',
 'sr manager hr: 4',
 'marketing head: 4',
 'chief general manager: 4',
 'manager - it: 4',
 'chief operations officer: 4',
 'senior planning engineer: 4',
 'solutions architect: 4',
 'audit executive: 4',
 'senior sales manager: 4',
 'graduate engineer trainee: 4',
 'sr. general manager: 4',
 'sr executive: 4',
 'aptitude trainer: 4',
 'pm: 4',
 'chief strategy officer: 4',
 'manager- human resources: 4',
 'regional director: 4',
 'senior manager finance: 4',
 'manager accounts: 4',
 'senior vice president finance: 4',
 'head of finance and accounting: 4',
 'deputy chief financial officer: 4',
 'head it: 4',
 'general secretary: 4',
 'strategy intern: 4',
 'trainee decision scientist: 4',
 'product development intern: 4',
 'full stack developer: 4',
 'frontend engineer: 4',
 'decision analytics associate: 4',
 'organizer: 4',
 'associate member: 4',
 'founding team: 4',
 'product marketing manager: 4',
 'marketing and sales intern: 4',
 'live project: 4',
 'engineer intern: 4',
 'project officer: 4',
 'associate system engineer: 4',
 'mba: 4',
 'quality assurance manager: 4',
 '*: 4',
 'centre head: 4',
 'promoter: 4',
 'gm hr: 4',
 'deputy general manager human resources: 4',
 'human resources generalist: 4',
 'senior hr consultant: 4',
 'human resources associate: 4',
 'director - hr: 4',
 'hr & admin manager: 4',
 'gm - human resources: 4',
 'group hr manager: 4',
 'resource manager: 4',
 'talent acquisition partner: 4',
 'sr. manager - hr: 4',
 'personnel executive: 4',
 'assistant general manager - hr: 4',
 'recruitment executive: 4',
 'manager - talent acquisition: 4',
 'head of human resources operations: 4',
 'hr trainee: 4',
 'deputy manager - human resources: 4',
 'manager talent acquisition: 4',
 'talent acquisition lead: 4',
 'manager - hr & admin: 4',
 'hr lead: 4',
 'talent acquisition leader: 4',
 'quantity surveyor: 4',
 'associate researcher: 3',
 'career break: 3',
 'process executive: 3',
 'freelance architect: 3',
 'technology lead: 3',
 'business analyst intern: 3',
 'machine learning intern: 3',
 'co - founder and ceo: 3',
 'senior business manager: 3',
 'mobile application developer: 3',
 'non executive chairman: 3',
 'board trustee: 3',
 'group managing director: 3',
 'vice president of engineering: 3',
 'senior principal engineer: 3',
 'staff engineer: 3',
 'sales associate: 3',
 'head operations: 3',
 'senior technical architect: 3',
 'director of product management: 3',
 'resident doctor: 3',
 'mechanical engineer: 3',
 'engineering trainee: 3',
 'm: 3',
 'restaurant manager: 3',
 'floor manager: 3',
 'reporter: 3',
 'assistant sales manager: 3',
 'manager sales: 3',
 'supply chain management: 3',
 'svp: 3',
 'ceo and co-founder: 3',
 'national sales head: 3',
 'senior member of technical staff: 3',
 'graduate student: 3',
 'educational consultant: 3',
 'board observer: 3',
 'application specialist: 3',
 'application engineer: 3',
 'counselling psychologist: 3',
 'content producer: 3',
 'sr. dietician: 3',
 'scientist: 3',
 'head of sales marketing: 3',
 'committee member: 3',
 'finance intern: 3',
 'senior business development executive: 3',
 'business associate: 3',
 'captain: 3',
 'software developer internship: 3',
 'cio: 3',
 'creative head: 3',
 'advocate: 3',
 'sr. sales manager: 3',
 'design intern: 3',
 'software consultant: 3',
 'senior accountant: 3',
 'junior associate: 3',
 'medical coder: 3',
 'personal assistant: 3',
 'vice president of business development: 3',
 'asst. vice president: 3',
 'sap consultant: 3',
 'regional operations manager: 3',
 'researcher: 3',
 'software analyst: 3',
 'project assistant: 3',
 'contractor: 3',
 'founder | ceo: 3',
 'programmer analyst trainee: 3',
 'finance analyst: 3',
 'architect-sap bw: 3',
 'consulting partner: 3',
 'operations intern: 3',
 'customer service associate: 3',
 'mental health counselor: 3',
 'senior officer: 3',
 'trainee engineer: 3',
 'business development head: 3',
 'head of learning and development: 3',
 'executive - human resources: 3',
 'sales officer: 3',
 'operations head: 3',
 'author: 3',
 'digital marketing consultant: 3',
 'senior sales executive: 3',
 'customer relations manager: 3',
 'strategy consultant: 3',
 'senior engagement manager: 3',
 'engagement manager: 3',
 'marketing consultant: 3',
 'executive trainee: 3',
 'google summer of code student: 3',
 'process developer: 3',
 'board of directors: 3',
 'country director: 3',
 'assistant consultant: 3',
 'zonal sales manager: 3',
 'customer care executive: 3',
 'convenor: 3',
 'executive secretary: 3',
 'chief human resource officer: 3',
 'faculty member: 3',
 'assistant manager - human resources: 3',
 'various: 3',
 'chief information officer: 3',
 'manager - hr & ir: 3',
 'vice president - operations: 3',
 'trustee: 3',
 'general manager operations: 3',
 'vice principal: 3',
 'project management consultant: 3',
 'associate editor: 3',
 'asst vice president: 3',
 'principal secretary: 3',
 'deputy commissioner: 3',
 'project management: 3',
 'market expert panellist: 3',
 'managing consultant: 3',
 'chief risk officer: 3',
 'software test engineer: 3',
 'director operations: 3',
 'sales: 3',
 'hr & admin assistant: 3',
 'quants faculty: 3',
 'development manager: 3',
 'assistant engineer: 3',
 'senior general manager: 3',
 'asst.manager - hr: 3',
 'startup mentor: 3',
 'founder and chief executive officer: 3',
 'head - finance: 3',
 'director - finance: 3',
 'manager- finance: 3',
 'g m finance: 3',
 'corporate finance manager: 3',
 'senior auditor: 3',
 'finance head: 3',
 'assistant manager accounts: 3',
 'promoter director: 3',
 'articleship: 3',
 'vice president - finance & accounts: 3',
 'agm-finance: 3',
 'senior partner: 3',
 'audit senior: 3',
 'head finance: 3',
 'senior manager-finance: 3',
 'avp finance: 3',
 'senior technical consultant: 3',
 'research team lead: 3',
 'avp - product: 3',
 'marketing specialist: 3',
 'executive member: 3',
 'research and development intern: 3',
 'technical intern: 3',
 'corporate sales manager: 3',
 'project delivery manager: 3',
 'test engineer: 3',
 'analytics manager: 3',
 'summer engineering intern: 3',
 'junior executive member: 3',
 'community manager: 3',
 'product intern: 3',
 'assistant brand manager: 3',
 'product analyst intern: 3',
 'group lead: 3',
 'pmt: 3',
 'project management specialist: 3',
 'technology analyst: 3',
 'product management faculty: 3',
 'research: 3',
 'assistant marketing manager: 3',
 'site supervisor: 3',
 'social work trainee: 3',
 'resident engineer: 3',
 'procurement manager: 3',
 'quality manager: 3',

In [82]:
inlist = ['founder','c']
notinlist = []# founder might be founder and ceo.
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['founder and ceo'] = apl

inlist = ['software','engineer']
notinlist = []
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['software engineer'] = apl

inlist = ['intern']
notinlist = ['international','internal']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['internship'] = apl

inlist = ['business', 'analyst']
notinlist = ['intern']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['business analyst'] = apl

inlist = ['consultant']
notinlist = []
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['consultant'] = apl

inlist = ['manager']
notinlist = ['assistant','account','asst','assit']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['manager'] = apl

inlist = ['manager','account']
notinlist = ['assistant','accounts','asst','assit']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['account manager'] = apl

inlist = ['vice', 'president']
notinlist = []
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['vice president'] = apl

inlist = ['president',]
notinlist = ['vice', 'founder','ceo']
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['president'] = apl

inlist = ['software', 'developer',]
notinlist = []
apl = set()
for i in sorted_title:
    if all(word in i for word in inlist) and all(word not in i for word in notinlist):
      apl.add(i)
titledict['software developer'] = apl

In [83]:
titledict

{'founder': {'associate founder',
  'business owner and founder',
  'chief executive / founder',
  'director & founder',
  'director and founder',
  'founder',
  'founder & actor',
  'founder & business head',
  'founder & business manager',
  'founder & chairman',
  'founder & chief advisor',
  'founder & chief editor',
  'founder & chief gamification officer',
  'founder & chief vision officer',
  'founder & cmd',
  'founder & creative director',
  'founder & creator',
  'founder & cto',
  'founder & cto - qurex health technologies',
  'founder & director',
  'founder & director(quintpro technologies pvt ltd)',
  'founder & entrepreneur',
  'founder & executive director',
  'founder & international president',
  'founder & managing director',
  'founder & managing director at tech saraz',
  'founder & managing director of nawkar technology',
  'founder & managing partner',
  'founder & managing trustee',
  'founder & md',
  'founder & mentor',
  'founder & owner',
  'founder & partner',
  'founder & president',
  'founder & president at indo-korea science & technology center',
  'founder & president ~ www.mtcglobal.org',
  'founder & principal designer',
  'founder & private equity investor',
  'founder & sebi registered investment advisor',
  'founder (video specialist)',
  'founder - director',
  'founder - introis technologies',
  'founder - jannayak janta party',
  'founder - medi karma',
  'founder - non profit venture',
  'founder - qfact.in',
  'founder - z clinics pune.',
  'founder / chief designer',
  'founder / machine learning engineer',
  'founder / managing partner',
  'founder and blogger',
  'founder and brand custodian',
  'founder and chairman',
  'founder and chairperson',
  'founder and chief creative officer',
  'founder and chief pediatric dentist',
  'founder and chief technology officer',
  'founder and cmd',
  'founder and creative director',
  'founder and cto',
  'founder and director',
  'founder and dreamer',
  'founder and editor',
  'founder and educationalist',
  'founder and executive director',
  'founder and managing director',
  'founder and managing director dronaa',
  'founder and managing general partner',
  'founder and managing partner',
  'founder and managing trustee',
  'founder and mentor',
  'founder and owner',
  'founder and partner',
  'founder and president',
  'founder and principal',
  'founder and promoter',
  'founder and proprietor',
  'founder and senior partner',
  'founder and talent transformation specialist',
  'founder and vice chairman',
  'founder at apps2media',
  'founder at devsthal',
  'founder at green planet solution',
  'founder at {niche} lounge & bistro',
  'founder chairman',
  'founder chairman & managing director',
  'founder chairman& managing director',
  'founder creator inventor',
  'founder director',
  'founder director - marketing & strategic planning',
  'founder director impact public healthcare pvt. ltd',
  'founder habbada fashions',
  'founder in residence',
  'founder member',
  'founder mit entrepreneurs forum',
  'founder n owner',
  'founder n president',
  'founder of digital pankaj',
  'founder of ocs',
  'founder of sage esports 3.o',
  'founder partner',
  'founder partner - manohar chowdhry & associates',
  'founder president',
  'founder trustee',
  'founder | director',
  "founder's office",
  "founder's staff",
  'founder- graphic designer',
  'founder-md',
  'founder-owner',
  'founder/ director',
  'founder/business analyst',
  'founder/creative director',
  'founder/creative head',
  'founder/director',
  'founder/director business development and projects',
  'founder/managing director',
  'managing director and founder',
  'owner & founder',
  'president and founder',
  'proprietor & founder'},
 'co-founder': {'cfo & co-founder',
  'chief architect/ co-founder',
  'chief technology officer & co-founder',
  'co - founder',
  'co - founder & director',
  'co founder',
  'co founder & consultant',
  'co founder & cto',
  'co founder & director',
  'co founder & head-delivery',
  'co founder & managing partner',
  'co founder & md',
  'co founder & president',
  'co founder - puppet maestros',
  'co founder and chief operating officer',
  'co founder and cmo',
  'co founder and coo',
  'co founder and cto',
  'co founder and director',
  'co founder and head of research and development',
  'co founder and managing director',
  'co founder and principal consultant',
  'co founder of startup entrepreneur',
  'co- founder',
  'co- founder & director at 9 energy electronics system llp',
  'co- founder / head of sales and training / business development',
  'co-founder',
  'co-founder & associate',
  'co-founder & business head',
  'co-founder & cfo',
  'co-founder & chief business officer',
  'co-founder & chief operating officer',
  'co-founder & chief product officer',
  'co-founder & chief scientist',
  'co-founder & cio',
  'co-founder & cmo',
  'co-founder & coo',
  'co-founder & coo at chai kings',
  'co-founder & cto',
  'co-founder & cto at quilo',
  'co-founder & director',
  'co-founder & director operations & outbound trainer',
  'co-founder & engineering manager',
  'co-founder & executive director',
  'co-founder & group cto',
  'co-founder & growth',
  'co-founder & head of business operations & content development design and delivery',
  'co-founder & head of hr/hcm consulting',
  'co-founder & head of product',
  'co-founder & head of technology',
  'co-founder & investor',
  'co-founder & learner',
  'co-founder & managing director',
  'co-founder & md',
  'co-founder & president',
  'co-founder & principal designer',
  'co-founder & producer',
  'co-founder & project director',
  'co-founder & technology head',
  'co-founder (former chairman of the board & managing director)',
  'co-founder - product',
  'co-founder - tech leader',
  'co-founder / senior managing director',
  'co-founder / ux designer',
  'co-founder @trendingus.com',
  'co-founder @websiters.in',
  'co-founder and architect',
  'co-founder and business development head',
  'co-founder and business partner',
  'co-founder and chief risk officer',
  'co-founder and co-owner',
  'co-founder and coo',
  'co-founder and creative director',
  'co-founder and cto',
  'co-founder and director',
  'co-founder and dreamer',
  'co-founder and head of product',
  'co-founder and managing director',
  'co-founder and managing partner',
  'co-founder and svp',
  'co-founder and treasurer',
  'co-founder and trustee',
  'co-founder at chew pan asian cafe',
  'co-founder at explore the next',
  'co-founder cum partner',
  'co-founder director',
  'co-founder director at adz venturesmedia .com',
  'co-founder tcube',
  'co-founder the abcd show',
  'co-founder/managing director',
  'co-founder|coo',
  'co.founder & partner',
  'cofounder',
  'cofounder & coo',
  'cofounder and director',
  'cofounder | advisor | consultant',
  'cofounder | coo',
  'company owner - founder',
  'coo/co-founder',
  'cto & co-founder',
  'cto and co-founder',
  'director & co-founder',
  'director and co founder',
  'director and co-founder',
  'entrepreneur | co founder',
  'executive assistant to co- founder',
  'founder & consultant',
  'founder & coo',
  "founder & naional president confederation of women's chambers of commerce & industry (cwcci)",
  'founder & principal consultant',
  'founder and correspondent',
  'founder at codezo.in',
  'founder at roboeyelabs.com',
  'founder member - own consultancy',
  'founder office - asst. mgr corporate planning',
  'founder owner vsa connect',
  'founder | managing director & chief consultant',
  'founder | vlogger and content creator',
  'founder& cco',
  'founder/co-author',
  'managing director and cofounder',
  'md & co-founder',
  'startup co-founder',
  'vice president (product engineering) & co-founder'},
 'ceo': {'advisor to chief executive officer',
  'advisor to the ceo',
  'assistant executive to ceo',
  'branch ceo',
  'c.e.o',
  'c.e.o (chief executive officer)',
  'c.e.o.',
  'c.e.o. & director',
  'c.e.o/chairman & mg director',
  'ceo',
  'ceo & area director -india',
  'ceo & board director',
  'ceo & cfo partner',
  'ceo & cio advisor',
  'ceo & cmd',
  'ceo & director',
  'ceo & director operations',
  'ceo & ed',
  'ceo & group executive director',
  'ceo & group president',
  'ceo & head of design',
  'ceo & head of finance',
  'ceo & hr head',
  'ceo & managing director',
  'ceo & md',
  'ceo & president',
  'ceo & principal',
  'ceo ( sales & marketing)',
  'ceo (#gis #gps #python #iot #erp #automation #dataanalytics #cad #mapping #linux)',
  'ceo (chief experience officer)',
  'ceo (value fashion retail)',
  "ceo - 'real intelligence' vertical",
  'ceo - airpush india',
  'ceo - brainlabs india',
  'ceo - chief executive officer',
  'ceo - cleantech',
  'ceo - coredo india',
  'ceo - digital publishing',
  'ceo - india',
  'ceo - india & saarc region',
  'ceo - indiabulls mart',
  'ceo - jobdost',
  'ceo - private brands',
  'ceo - rishi kapal',
  'ceo - south',
  'ceo - transmission and distribution and railways',
  'ceo -infrastructure (industrial & logistics)',
  'ceo / business consultant',
  'ceo / cloud solutions business consultant',
  'ceo / cto',
  'ceo / director',
  'ceo adityabirla insurance broker pvt ltd',
  'ceo and client partner',
  'ceo and director',
  'ceo and executive director',
  'ceo and food business coach',
  'ceo and head of investments',
  'ceo and managing director',
  'ceo and md',
  'ceo and owner vida group',
  'ceo and strategic entrepreneur',
  'ceo and whole time board director',
  'ceo ap circle',
  'ceo at aequs infra sez',
  'ceo at funnel pro',
  'ceo at hbl global pvt ltd',
  'ceo at keneya - africa region',
  'ceo at patelitsolution',
  'ceo at virtual 3ed',
  'ceo bank ekonomi',
  'ceo branscope clothing',
  'ceo designate',
  'ceo for india business',
  'ceo gurugram metropolitan development authority(gmda)',
  'ceo higher education apeejay education society',
  'ceo home town',
  'ceo of alaukik build and interior',
  'ceo of raj hospitality management',
  'ceo pradhan it services',
  'ceo prayati skill & resource development pvt ltd',
  'ceo principal',
  'ceo sri@udyogconsultancy.com',
  'ceo supersafe',
  'ceo the arvind store & rtw',
  'ceo ~www.globepost.in',
  "ceo's office",
  'ceo- architect',
  'ceo- atash. sr vp;',
  'ceo-after sales and service',
  'ceo-concessions',
  'ceo-home town',
  'ceo-india',
  'ceo-tarun leadership international',
  'ceo/managing partner',
  'ceo/owner',
  'cfo & ceo',
  'chairman & ceo',
  'chairman & chief executive officer',
  'chairman and ceo',
  'chairman of the board and ceo',
  'chairmen & group ceo',
  'chief engineering officer (ceo)',
  'chief executive officer',
  'chief executive officer & cfo',
  'chief executive officer & executive director',
  'chief executive officer & whole time director',
  'chief executive officer ( ceo) in gsai',
  'chief executive officer (ceo)',
  'chief executive officer (ceo) - osmania technology business incubator',
  'chief executive officer (commandant)',
  'chief executive officer (general)',
  'chief executive officer - ceo',
  'chief executive officer - hotels division',
  'chief executive officer - zee digital convergence ltd.',
  'chief executive officer and director - welspun retail ltd.',
  'chief executive officer and managing director',
  'chief executive officer apac',
  'chief executive officer at skot india',
  'chief executive officer at syrex infoservices india pvt. ltd',
  'chief executive officer – projects.',
  'chief executive officer(ccavenue tappay)',
  'chief executive officer(ceo)',
  'chief executive officer- ceo',
  'chief executive officer- india',
  'chief financial officer & interim c.e.o',
  'circle ceo chennai',
  'circle ceo chennai and tamil nadu',
  'city ceo',
  'co-chief executive officer',
  'coo / ceo',
  'country head & ceo',
  'country head & chief executive officer',
  'deputy ceo',
  'deputy ceo - aditya birla capital',
  'deputy chief executive officer',
  'deputy general manager – finance (acting cfo) reporting to ceo',
  'director & ceo',
  'director and ceo',
  'director and chief executive officer',
  'ea to ceo',
  'ea to chief executive officer',
  'executive assistant to ceo',
  'executive assistant to ceo /associate manager client relations',
  'executive assistant to chief executive officer',
  'executive assistant to md & ceo',
  'executive assistant to president & ceo',
  'executive assistant to the ceo',
  'executive chairman & ceo of significant infotech',
  'executive director & ceo',
  'executive director/ ceo',
  'executive vice president & ceo hcc infrastructure',
  'former chief executive officer',
  'founding ceo',
  'founding director & ceo',
  'founding director and ceo',
  'founding partner & ceo',
  'general manager / ceo',
  'general manager and ceo',
  'global ceo',
  'group ceo',
  'group ceo & director',
  'group ceo and director',
  'group chief executive officer',
  'group executive director & chief executive officer',
  'group md & ceo',
  'group president and ceo',
  'interim chief executive officer',
  'joint ceo',
  'joint managing director & ceo',
  'manager & ceo',
  'managing director & ceo',
  'managing director & ceo (ias officer of agmut cadre)',
  'managing director & ceo - global financial investment',
  'managing director & ceo at manisha sarees',
  'managing director & chief executive officer',
  'managing director - ceo',
  'managing director and ceo',
  'managing director and ceo - fashion global retail ltd.',
  'managing director and chief executive officer',
  'managing director ceo',
  'managing partner & ceo',
  'managing partner and ceo',
  'md & ceo',
  'md & ceo essar ports ltd.',
  'md & ceo of kia india',
  'md and ceo',
  'md& ceo',
  'md&ceo',
  'mission director and ceo',
  'owner & ceo',
  'owner and ceo',
  'personal assistant to ceo',
  'president & ceo',
  'president & ceo (domestic business)',
  'president and ceo',
  'principal ceo',
  'pro-chancellor & ceo [retd.]',
  'project head - ceo (cii-mcc)',
  'promoted and worked as ceo',
  'promoter & ceo',
  'proprietor and ceo',
  'sales trainer & ceo',
  'senior business analyst ( reporting to the country ceo)',
  "sr. manager (ceo's office)",
  'state ceo',
  'strategic project- ceo office',
  'unit head (ceo)',
  'vice chair board of directors (former ceo',
  'vice chairman and ceo'},
 'cfo': {'#beingcfo',
  'acting cfo',
  'acting cfo - sterlite power global infra',
  'acting cfo | head - global corporate strategy',
  'avp - finance (cfo - supermarkets)',
  'avp and cfo',
  'cfo',
  'cfo & chief general manager',
  'cfo & co-founder',
  'cfo & co.secretary',
  'cfo & company secretary',
  'cfo & country finance director',
  'cfo & cs',
  'cfo & director',
  'cfo & vice president',
  'cfo & vice president finance',
  'cfo (finance director)',
  'cfo - apac',
  'cfo - apparel business',
  'cfo - copper business',
  'cfo - engineering business',
  'cfo - fever',
  'cfo - flexibles',
  'cfo - head finance',
  'cfo - homecare',
  'cfo - insurance',
  'cfo - malls',
  'cfo - nepal & nigeria projects',
  'cfo - pantaloons',
  'cfo - petrochemicals',
  'cfo - retail',
  'cfo -mac charles india limited',
  'cfo [executive vice president]',
  'cfo and comapny secretary of htts and incharge group mis and sap',
  'cfo and company secretary',
  'cfo and compliance officer',
  'cfo and controller - far east asia',
  'cfo and country treasurer - governance',
  'cfo and director finance of the board',
  'cfo and executive corporate strategy',
  'cfo and finance director',
  'cfo and vice president of global business development',
  'cfo asia pacific',
  'cfo broadband business',
  'cfo company secretary and compliance officer',
  'cfo delhi ncr',
  'cfo domestic',
  'cfo for sme',
  'cfo magma housing finance',
  'cfo o&t asia pacific region',
  'cfo partner - education & ipo',
  'cfo retd.',
  'cfo romania',
  'cfo south asia',
  'cfo- outsource',
  'cfo-airport project',
  'chief - international (cfo - international)',
  'chief finance officer (cfo)',
  'chief finance officer - cfo',
  'chief finance officer [cfo]',
  'chief finance officer- cfo',
  'chief financial officer (cfo)',
  'chief financial officer - ( cfo )',
  'chief financial officer - cfo',
  'co-founder & cfo',
  'consultant -cfo advisory',
  'consultant cfo',
  'consultant- cfo adv (finance advisory)',
  'coo & cfo',
  'corporate vice president and cfo',
  'country cfo',
  'deputy cfo',
  'director & cfo',
  'director & global group cfo',
  'director - cfo & financial services',
  'director - cfo services',
  'director finance & cfo - it business',
  'director finance and cfo',
  'dy cfo',
  'dy. cfo',
  'dy.cfo',
  'ex - cfo & director business development',
  'executive director & cfo',
  'executive director and chief financial officer [cfo]',
  'executive director and group cfo',
  'executive vice president/cfo',
  'finance & administration director/cfo',
  'finance controller and cfo-india',
  'financial consultant and chief financial officer (cfo) advisory',
  'glf/head of finance/cfo',
  'global cfo',
  'global controller & cfo india',
  'global deputy cfo',
  'global group cfo and admin head',
  'gm finance/cfo',
  'gm- finance & accounts (cfo profile)',
  'group cfo',
  'group cfo & cs',
  'group cfo & evp',
  'group cfo & head of strategy',
  'group cfo (india & gcc)',
  'group cfo and director iincharge wind business',
  'group financial manager (cfo)',
  'group president (finance) & group cfo',
  'india cfo',
  'international finance advisor & group cfo',
  'joint cfo',
  'joint cfo (financial controller)',
  'joint managing director and group cfo',
  'managing director & cfo - global treasury; new york',
  'member cfo board',
  'partner/ cfo on demand',
  'president & cfo',
  'president & group cfo',
  'prsident and dy cfo',
  'regional cfo - apac',
  'regional cfo amea',
  'senior director & cfo - invent india',
  'senior vice president & cfo',
  'sr. vice president finance ( group cfo)',
  'svp and cfo',
  'vice president - finance (cfo)',
  'vice president and cfo',
  'vice president finance - cfo',
  'zonal cfo'},
 'product manager': {'associate product manager',
  'associate product manager (payments)',
  'associate product manager - ace2three',
  'associate product manager 1',
  'associate product manager 2',
  'associate product manager ii',
  'associate product manager-1',
  'associate product manager-2',
  'associate publishing product manager',
  'avp - product manager',
  'business analyst/product manager',
  'co-founder and product manager',
  'data product manager',
  'deputy product manager',
  'digital payments product manager',
  'digital product manager',
  'ecommerce product manager',
  'founding member (product manager)',
  'global product manager',
  'group product manager',
  'group product manager - marketplace & ads',
  'group product manager - otc innovations',
  'group product manager - strategic innovations group',
  'growth product manager',
  'international product manager',
  'lead product manager',
  'lead technical product manager',
  'manager - customer engagement | project manager | product manager',
  'mobile product manager',
  'national product manager',
  'principal group product manager',
  'principal product manager',
  'principal product manager (general manager)',
  'product manager',
  'product manager & business solutions - credit cards',
  'product manager (consultant)',
  'product manager (learning and development)',
  'product manager (mt & ecom)',
  'product manager (online catalog)',
  'product manager (retail sme - lending)',
  'product manager - ace2three',
  'product manager - affordable housing',
  'product manager - asset (summative assessment product used by 2500+ indian &uae schools)',
  'product manager - associate | payments',
  'product manager - connected digital platform & solutions',

In [84]:
converted = pd.DataFrame.from_dict(titledict, orient='index').T
converted.to_excel('title_maps.xlsx',index = False)

In [85]:
def map_degree(value):
    for k, v in titledict.items():
        if value in v:
            return k
    return 'others'
for col in titlecols:
  df[f'mapped_{col}'] = df[col].apply(map_degree)

In [86]:
value_counts = {}

for col in df[titlecols].columns:
    counts = df[f'mapped_{col}'].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count
value_counts

{'others': 613083,
 'founder': 1434,
 'ceo': 1296,
 'founder and ceo': 619,
 'product manager': 1077,
 'head-hr': 800,
 'co-founder': 620,
 'manager': 3042,
 'cfo': 344,
 'project manager': 359,
 'vice president': 595,
 'consultant': 727,
 'president': 147,
 'software engineer': 322,
 'business analyst': 158,
 'internship': 1010,
 'account manager': 81,
 'software developer': 55}

In [90]:
converted = pd.DataFrame.from_dict(value_counts, orient='index',columns = ['counts'])
converted.index.name = 'Roles'
converted.to_excel('title.xlsx')
converted

                    counts
Roles
others              613083
founder               1434
ceo                   1296
founder and ceo        619
product manager       1077
head-hr                800
co-founder             620
manager               3042
cfo                    344
project manager        359
vice president         595
consultant             727
president              147
software engineer      322
business analyst       158
internship            1010
account manager         81
software developer      55

In [88]:
for

SyntaxError: invalid syntax (3193057967.py, line 1)

# industry.

In [ ]:
comp_ind = [col for col in df.columns if 'company' in col and 'industry' in col]
value_counts = {}

for col in df[comp_ind].columns:
    counts = df[col].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count

In [ ]:
sorted_vc = {k: v for k, v in sorted(value_counts.items(), key=lambda item: item[1], reverse=True)}

In [ ]:
one_row_data = pd.DataFrame([sorted_vc]).T.reset_index()
one_row_data.columns = ['Value', 'Occurrences']

# Save the transposed DataFrame to an Excel file
one_row_data.to_excel('data.xlsx', index=False)

In [ ]:
industry_mapping = {
    "it services and it consulting": "Software",
    "financial services": "Financial Services",
    "software development": "Software",
    "technology, information and internet": "Software",
    "education administration programs": "Education",
    "advertising services": "Media",
    "business consulting and services": "Professional Services",
    "information technology & services": "Software",
    "hospitals and health care": "Healthcare",
    "higher education": "Education",
    "telecommunications": "Telecommunications",
    "manufacturing": "Manufacturing",
    "retail": "FMCG",
    "real estate": "Real Estate",
    "banking": "Financial Services",
    "motor vehicle manufacturing": "Manufacturing",
    "e-learning providers": "Education",
    "non-profit organizations": "Non-profit",
    "food and beverage services": "Hospitality",
    "construction": "Construction",
    "pharmaceutical manufacturing": "Manufacturing",
    "insurance": "Financial Services",
    "staffing and recruiting": "Professional Services",
    "retail apparel and fashion": "Consumer",
    "appliances, electrical, and electronics manufacturing": "Consumer",
    "human resources services": "Professional Services",
    "transportation, logistics, supply chain and storage": "Transport, supply chain and logistics",
    "hospitality": "Hospitality",
    "industrial machinery manufacturing": "Manufacturing",
    "education management": "Education",
    "wellness and fitness services": "Professional Services",
    "travel arrangements": "Hospitality",
    "media production": "Media",
    "entertainment providers": "Media",
    "oil and gas": "Resources",
    "architecture and planning": "Planning and Design",
    "education": "Education",
    "outsourcing and offshoring consulting": "Professional Services",
    "venture capital and private equity principals": "Financial Services",
    "mining": "Resources",
    "professional training and coaching": "Professional Services",
    "wholesale building materials": "Construction",
    "chemical manufacturing": "Manufacturing",
    "computers and electronics manufacturing": "Manufacturing",
    "accounting": "Professional Services",
    "consumer services": "Consumer",
    "events services": "Hospitality",
    "textile manufacturing": "Manufacturing",
    "government administration": "Government",
    "food and beverage manufacturing": "Manufacturing",
    "design services": "Planning and Design",
    "professional services": "Professional Services",
    "automation machinery manufacturing": "Manufacturing",
    "defense and space manufacturing": "Manufacturing",
    "human resources": "Professional Services",
    "broadcast media production and distribution": "Media",
    "non-profit organization management": "Non-profit",
    "newspaper publishing": "Publishing",
    "computer and network security": "Software",
    "investment management": "Financial Services",
    "research services": "Professional Services",
    "book and periodical publishing": "Publishing",
    "machinery manufacturing": "Manufacturing",
    "renewable energy semiconductor manufacturing": "Manufacturing",
    "online audio and video media": "Media",
    "apparel & fashion": "Consumer",
    "e-learning": "Education",
    "spectator sports": "Sports",
    "airlines and aviation": "Transport, supply chain and logistics",
    "biotechnology research": "Professional Services",
    "market research": "Media",
    "legal services": "Professional Services",
    "internet publishing": "Publishing",
    "public relations and communications services": "Professional Services",
    "retail luxury goods and jewelry": "Consumer",
    "leisure, travel & tourism": "Hospitality",
    "information services": "Software",
    "investment banking": "Financial Services",
    "semiconductor manufacturing": "Manufacturing",
}

In [ ]:
sdf = pd.DataFrame()
sdf

Empty DataFrame
Columns: []
Index: []

In [ ]:
def indus_val(value):
  for k,v in industry_mapping.items():
    if value == k:
      return v.lower()
  else:
    return 'others'.lower()

for col in comp_ind:
  df[f'mapped_{col}'] = df[col].apply(lambda x: indus_val(x) if pd.notna(x) else x)
df[comp_ind]

,company_0_industry,company_1_industry,company_2_industry,company_3_industry,company_4_industry,company_5_industry,company_6_industry,company_7_industry,company_8_industry,company_9_industry,company_10_industry,company_11_industry,company_12_industry,company_13_industry,company_14_industry,company_15_industry,company_16_industry,company_17_industry,company_18_industry,company_19_industry
0,it services and it consulting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,veterinary services,manufacturing,food and beverage services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,wholesale,NaN,business consulting and services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,food and beverage services,banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
value_counts = {}

for col in df[comp_ind].columns:
    counts = df[f'mapped_{col}'].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count
value_counts

{'software': 2831,
 'financial services': 1036,
 'education': 899,
 'others': 1005,
 'manufacturing': 1037,
 'professional services': 892,
 'media': 413,
 'consumer': 259,
 'hospitality': 262,
 'fmcg': 174,
 'healthcare': 203,
 'real estate': 145,
 'construction': 174,
 'transport, supply chain and logistics': 113,
 'telecommunications': 197,
 'non-profit': 200,
 'planning and design': 62,
 'resources': 131,
 'publishing': 101,
 'sports': 22,
 'government': 27}

In [ ]:
converted = pd.DataFrame.from_dict(value_counts, orient='index').T
converted.to_csv('industry.csv',index = False)

In [ ]:
df.columns

Index(['name', 'location', 'org_0', 'title_0', 'job_0_duration',
       'job_0_location', 'org_0_sub_0', 'title_0_sub_0',
       'job_0_sub_0_duration', 'job_0_sub_0_location',
       ...
       'mapped_company_10_industry', 'mapped_company_11_industry',
       'mapped_company_12_industry', 'mapped_company_13_industry',
       'mapped_company_14_industry', 'mapped_company_15_industry',
       'mapped_company_16_industry', 'mapped_company_17_industry',
       'mapped_company_18_industry', 'mapped_company_19_industry'],
      dtype='object', length=664)

# size of the company

In [ ]:
comp_emp_count = [col for col in df.columns if 'company' in col and 'emp' in col]
df[comp_emp_count]

,company_0_emp_count,company_1_emp_count,company_2_emp_count,company_3_emp_count,company_4_emp_count,company_5_emp_count,company_6_emp_count,company_7_emp_count,company_8_emp_count,company_9_emp_count,company_10_emp_count,company_11_emp_count,company_12_emp_count,company_13_emp_count,company_14_emp_count,company_15_emp_count,company_16_emp_count,company_17_emp_count,company_18_emp_count,company_19_emp_count
0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,3013.0,237.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,198.0,NaN,21451.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21.0,178351.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def categorize_employee_count(emp_count): # 1-3.3-9,250-1000, 1000-5000,5000+
    if np.isnan(emp_count):
        return "Unknown"
    elif (emp_count == 1) or (emp_count < 3):
        return "1-3"
    elif emp_count <= 9:
        return "3-9"
    elif emp_count <= 50:
        return "9-50"
    elif emp_count <= 250:
        return "50-250"
    elif emp_count <= 1000:
        return "250-1000"
    elif emp_count <= 5000:
        return "1000-5000"
    else:
        return "5000+"

for col in df[comp_emp_count].columns:
  df[f'mapped_{col}'] = df[col].apply(categorize_employee_count)

In [ ]:
df[comp_emp_count].shape

(4132, 20)

In [ ]:
value_counts = {}

for col in df[comp_emp_count].columns:
    counts = df[f'mapped_{col}'].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count
value_counts

{'Unknown': 72458,
 '5000+': 3618,
 '9-50': 1094,
 '50-250': 1375,
 '1000-5000': 1607,
 '3-9': 655,
 '250-1000': 1328,
 '1-3': 505}

In [ ]:
converted = pd.DataFrame.from_dict(value_counts, orient='index').T
converted.to_excel('size_of_the_company.xlsx',index = False)

# institurte cols

In [ ]:
df

,name,location,org_0,title_0,job_0_duration,job_0_location,org_0_sub_0,title_0_sub_0,job_0_sub_0_duration,job_0_sub_0_location,...,mapped_company_10_emp_count,mapped_company_11_emp_count,mapped_company_12_emp_count,mapped_company_13_emp_count,mapped_company_14_emp_count,mapped_company_15_emp_count,mapped_company_16_emp_count,mapped_company_17_emp_count,mapped_company_18_emp_count,mapped_company_19_emp_count
0,prasad chandran,palakkadu,swift infos,founder,Greater than 6 years,thrissur,NaN,NaN,NAN,NaN,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,tamilmani selvan,erode,vidai labs,founder,1 years,coimbatore,NaN,NaN,NAN,NaN,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,shruti shruti,bangalore,apnaklub,cofounder and ceo,4 years,bengaluru,NaN,NaN,NAN,NaN,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,siddharth jain,delhi,brewhouse tea brewing co.,founder,Greater than 6 years,delhi,NaN,NaN,NAN,NaN,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,swapnil more,bangalore,alteryx india,founder,4 years,bengaluru,NaN,NaN,NAN,NaN,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4127,aarokia james raja - ajr,chennai,aarokia james has verified their government id.,government id,NAN,NaN,NaN,NaN,NAN,NaN,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4128,rohit telwade,thane,warlox studios,founder & ceo,2 years,vasai virar,NaN,NaN,NAN,NaN,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4129,parthiv s.,mumbai,self-employed,chief executive officer,5 years,NaN,NaN,NaN,NAN,NaN,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4130,sunil tadepalli,delhi,NaN,NaN,NAN,NaN,NaN,NaN,NAN,NaN,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4131,ravichandran muthu,mumbai,sigma construction company pvt. ltd,managing director,5 years,mumbai,NaN,NaN,NAN,NaN,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [ ]:
college_tiers_df = pd.read_excel('/content/Mapping of tiers of colleges.xlsx')
college_tiers_df.drop(columns = ['Institute ID','Score'],inplace = True)

In [ ]:
pattern = r'^(.*?) - (.*)$'

left_values = []
right_values = []

# Iterate through the 'Name' column and conditionally extract values
for name in college_tiers_df['Name']:
    if ('[' in name) and ('-' in name):
        left, right = name.split('[')
        left_values.append(left)
        right_values.append(right)
    else:
        left_values.append(None)
        right_values.append(None)

# Add the extracted values as new columns
college_tiers_df['proper_names'] = left_values
college_tiers_df['subname and loc'] = right_values

In [ ]:
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.replace('-','').str.strip()
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.replace(',','')

In [ ]:
namelis = []
college_tiers_df
for name in college_tiers_df['Name']:
    if not ('[' in name):
      namelis.append(name)
    else:
      namelis.append(None)
for i in range(len(college_tiers_df['proper_names'])):
  if college_tiers_df['proper_names'][i] == None:
    college_tiers_df['proper_names'][i] = namelis[i]

<ipython-input-98-bcd25a1c6424>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_tiers_df['proper_names'][i] = namelis[i]

In [ ]:
college_tiers_df['subname'] = college_tiers_df['subname and loc'].str.split(']')
college_tiers_df['subname'] = college_tiers_df['subname'].apply(lambda x: x[0] if isinstance(x, list) else None)

In [ ]:
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.replace('more details \|','')

<ipython-input-100-95a5d20e0a4a>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.replace('more details \|','')

In [ ]:
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].apply(lambda x: (re.sub(r'\biit\b', 'indian institute of technology', x) if pd.notna(x) else x))
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].apply(lambda x: (re.sub(r'\bnit\b', 'national institute of technology', x) if pd.notna(x) else x))
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].apply(lambda x: (re.sub(r'\biiit\b', 'indian institute of information technology', x) if pd.notna(x) else x))

In [ ]:
institute_cols = [col for col in df.columns if 'institute' in col]
for col in df[institute_cols]:
  for row in range(len(df[col])):
    rowst = str(df[col][row])
    if '-' in rowst:
      df[col][row] = df[col][row].split('-')[0]

<ipython-input-102-60f81df36703>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row] = df[col][row].split('-')[0]

In [ ]:
for col in df[institute_cols].columns:
  df[col] = df[col].apply(lambda x: (re.sub(r'\biit\b', 'indian institute of technology', x) if pd.notna(x) else x))
  df[col] = df[col].apply(lambda x: (re.sub(r'\bnit\b', 'national institute of technology', x) if pd.notna(x) else x))
  df[col] = df[col].apply(lambda x: (re.sub(r'\biiit\b', 'indian institute of information technology', x) if pd.notna(x) else x))
  df[col] = df[col].apply(lambda x: (x.replace(',','')) if pd.notna(x) else x)
  df[col] = df[col].apply(lambda x: (x.replace('-','')) if pd.notna(x) else x)

In [ ]:
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.replace(',','')
college_tiers_df['proper_names'] = college_tiers_df['proper_names'].str.lower()

In [ ]:
sdf = df[institute_cols].copy()
sdf

,institute_0,institute_1,institute_2,institute_3,institute_4
0,NaN,NaN,NaN,NaN,NaN
1,amrita vishwa vidyapeetham,adhiyamann college of engineering,s.r.c memorial metric higher secondary school,NaN,NaN
2,harvard business school,indian institute of technology,NaN,NaN,NaN
3,indian institute of management,delhi university,NaN,NaN,NaN
4,dy patil international school,poddar international college,NaN,NaN,NaN
...,...,...,...,...,...
4127,loyola college,NaN,NaN,NaN,NaN
4128,university of mumbai,niit,st. g.g.college,NaN,NaN
4129,lawrence school,NaN,NaN,NaN,NaN
4130,all india institute of medical sciences,osmania university,NaN,NaN,NaN
4131,anna university,NaN,NaN,NaN,NaN

In [ ]:
# send the df index...
# k or v (ind of proper name, sub match level)
# lessthan 2 set to None

def corr_ins_names(col,inde):
    ind_sub = {}
    value = df[col][inde]
    prl = college_tiers_df['proper_names'].tolist()

    if isinstance(value, str):
      for name in range(len(prl)):
        if (set(prl[name].split(' ')).issubset(set(value.split(' ')))) or (set(value.split(' ')).issubset(set(prl[name].split(' ')))):

          sub_mat_lev = len((set(prl[name].split(' '))).intersection(set(value.split(' '))))
          maxlen = max( len(set(prl[name].split(' '))), len(set(value.split(' '))) )

          diff = abs(sub_mat_lev - maxlen)
          if not diff > 2:
            ind_sub.update({name:sub_mat_lev})
      ind_sub = dict(sorted(ind_sub.items(), key=lambda item: item[1]))
      if ind_sub != {}:
        key = list(ind_sub.keys())[0]
        sdf[col][inde] = prl[key]
      else:
        sdf[col][inde] = 'others'

for col in sdf[institute_cols].columns:
  for i in range(len(df[institute_cols][col])):
    corr_ins_names(col,i)

In [ ]:
odf = df[institute_cols].copy()

In [ ]:
for col in sdf.columns:
  odf[f'mapped_{col}'] = sdf[col]
for col in sdf.columns:
  odf[col] = sdf[col] # orginal cols here are for tier mappings.

In [ ]:
odf

,institute_0,institute_1,institute_2,institute_3,institute_4,mapped_institute_0,mapped_institute_1,mapped_institute_2,mapped_institute_3,mapped_institute_4
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,amrita vishwa vidyapeetham,others,others,NaN,NaN,amrita vishwa vidyapeetham,others,others,NaN,NaN
2,others,indian institute of technology delhi,NaN,NaN,NaN,others,indian institute of technology delhi,NaN,NaN,NaN
3,indian institute of management ahmedabad,university of delhi,NaN,NaN,NaN,indian institute of management ahmedabad,university of delhi,NaN,NaN,NaN
4,others,others,NaN,NaN,NaN,others,others,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4127,loyola college,NaN,NaN,NaN,NaN,loyola college,NaN,NaN,NaN,NaN
4128,mumbai university,others,others,NaN,NaN,mumbai university,others,others,NaN,NaN
4129,others,NaN,NaN,NaN,NaN,others,NaN,NaN,NaN,NaN
4130,institute of medical sciences,osmania university,NaN,NaN,NaN,institute of medical sciences,osmania university,NaN,NaN,NaN
4131,anna university,NaN,NaN,NaN,NaN,anna university,NaN,NaN,NaN,NaN

In [ ]:
def tier_map(col,inde):
  value = odf[col][inde]
  prl = college_tiers_df['proper_names'].tolist()
  if isinstance(value, str):
      for name in range(len(prl)):
        if value == prl[name]:
          odf[col][inde] = college_tiers_df['Tier'][name]
          return
      else:
        odf[col][inde] = 4

for col in odf[institute_cols].columns:
  for i in range(len(odf[institute_cols][col])):
    tier_map(col,i)

In [ ]:
odf.rename(columns = {col:f'tier_mapping_{col}' for col in odf[institute_cols].columns},inplace= True)

In [ ]:
# for col in df[institute_cols].columns:
#   odf[f'tiers_{col}'] = df[col]

In [ ]:
# for i in df[institute_cols]:
#   print(df[i].unique())

In [ ]:
for col in odf.columns:
  df[col] = odf[col]

In [ ]:
df.columns

Index(['name', 'location', 'org_0', 'title_0', 'job_0_duration',
       'job_0_location', 'org_0_sub_0', 'title_0_sub_0',
       'job_0_sub_0_duration', 'job_0_sub_0_location',
       ...
       'tier_mapping_institute_0', 'tier_mapping_institute_1',
       'tier_mapping_institute_2', 'tier_mapping_institute_3',
       'tier_mapping_institute_4', 'mapped_institute_0', 'mapped_institute_1',
       'mapped_institute_2', 'mapped_institute_3', 'mapped_institute_4'],
      dtype='object', length=694)

In [ ]:
rename_mapping = {1: 'tier-1', 2: 'tier-2', 3: 'tier-3', 4: 'tier-4'}
df[institute_cols] = df[institute_cols].replace(rename_mapping)

In [ ]:
value_counts = {}

for col in df[institute_cols].columns:
    counts = df[f'tier_mapping_{col}'].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count
value_counts

#{'tier-4': 3251, 'tier-1': 792, 'tier-3': 472, 'tier-2': 480}

{4: 4442, 1: 1233, 3: 736, 2: 758}

In [ ]:
converted = pd.DataFrame.from_dict(value_counts, orient='index').T
rename_mapping = {1: 'tier-1', 2: 'tier-2', 3: 'tier-3', 4: 'tier-4'}
converted.rename(columns = rename_mapping,inplace = True)
converted.to_excel('institute.xlsx',index = False)

In [ ]:
converted

   tier-4  tier-1  tier-3  tier-2
0    4442    1233     736     758

# Degree cols correction

In [ ]:
import pickle
with open('degree_dict.pkl', 'rb') as file:
    degree_dict = pickle.load(file)

In [ ]:
del degree_dict['high school']

In [ ]:
degree_cols = [col for col in df.columns if 'digree' in col and 'duration' not in col]
sdf['all_degree'] = df[degree_cols].apply(lambda row: ','.join(row.dropna().astype(str)), axis=1)

degrees = []
for i in sdf['all_degree']:
  for j in i.split(','):
    degrees.append(j)
print(len(degrees))

degree_counts = defaultdict(int)

for degree in degrees:
    degree_counts[degree] += 1

# Step 3: Sort the names based on their counts
sorted_degrees = sorted(degree_counts.keys(), key=lambda degree: degree_counts[degree], reverse=True)

7393

In [ ]:
degree_dict.keys()

dict_keys(['mba', 'be', 'bachelors degree', 'bcom', 'bba', 'ca', "master's degree", 'mtech', 'mcom', 'ba', 'ma', 'mca', 'bca', 'bsc', 'msc', 'bachelor of laws', 'master of laws'])

In [ ]:
for k,v in degree_dict.items():
  print(k,'\n',v,'\n')

mba
 {'m.b.a', 'master in business administration', 'pgdbm', 'm.b.a.', 'mba finance', 'master of business administration - mba', 'mba - master of business administration', 'mba for executive', 'master of business administration', 'mba', 'pgdba', 'pgdm -marketing', 'pgdm', 'pgpm', 'mba.', 'pgdm-abpm', 'post graduate programme in management', 'post graduate diploma in business management', 'gold medalist m.b.a', 'post graduate program in management'}

be
 {'bachelor of technology', 'btech', "bachelor's of technology", "bachelor's in engineering", 'b.e', 'b tech', 'b.tech.', 'b- tech', 'b.tech', 'b. tech.', 'bachelor of technology - b. tech', 'bachelor of engineering', 'bachelor of technology - btech', 'b.e.', 'b. tech', 'bachelor of engineering - be', 'be - bachelor of engineering', 'be'}

bachelors degree
 {"bachelor's degree", 'undergraduate', 'bachelors', 'bachelor’s degree'}

bcom
 {'bachelor of commerce', 'b com', 'b.com', 'bachelor of commerce with honours - b.com', 'bcom', 'b. com', 'b.com.', 'business/commerce', 'b. com ', "b'com", 'bachelor of commerce - bcom', 'commerce', 'bachelor of commerce ', 'bcom - bachelor of commerce'}

bba
 {'bachelor of business administration', 'bba', 'bachelor of business administration - bba', 'bba - finance and international business'}

ca
 {'chartered accountancy', 'chartered accountants', 'ca', 'c.a.', 'chartered accountant', 'accounting and finance'}

master's degree
 {'master’s degree', "master's degree"}

mtech
 {'mtech', 'master of technology', 'm.tech', 'm.tech.', 'master of technology - mtech'}

mcom
 {'m.com', 'master of commerce', 'b com post graduate'}

ba
 {'ba', 'business administration and management', 'bachelor of arts', 'b.a.', 'bachelor of arts - ba', 'ba programming'}

ma
 {'m.a. economics', 'm.a.', 'master of arts', 'master of arts - ma'}

mca
 {'mca', 'master of computer applications - mca', 'm.c.a', 'master of computer applications'}

bca
 {'bachelor of computer application', 'bachelor of computer applications', 'bachelor of computer aplication', 'bachelor of computer application- b.c.a', "bachelor's of computer application", 'bca'}

bsc
 {'bachelor of science - b. sc.', 'b.sc.', 'bsc', 'bachelor of science - bs', 'b.sc', 'computer science', 'bsc.it', 'b. sc.', 'bachelor of science'}

msc
 {'master of science - ms', 'master of science', 'msc - it', 'msc', 'm.sc.', 'm.s.', 'msc in energy and resource management', 'msc in international construction management', 'm.sc', 'ms'}

bachelor of laws
 {'bachelor of laws - llb', 'bachelor of laws'}

master of laws
 {'master of laws - llm'}

In [ ]:
converted = pd.DataFrame.from_dict(degree_dict, orient='index').T
converted.to_csv('converted.csv',index = False)

In [ ]:
import pickle

with open('degree_dict.pkl', 'wb') as pickle_file:
    pickle.dump(degree_dict, pickle_file)

In [ ]:
for k,v in degree_dict.items():
  degree_dict[k] = set([x.lower() for x in v])

In [ ]:
# degree_dict['bcom'] = set(degree_dict['bcom'])
degree_dict['bachelors degree'].update(["bachelor’s degree"])
degree_dict['be'].update([])
degree_dict['mtech'].update([])
degree_dict['mba'].update([])
degree_dict['bcom'].update([])
degree_dict['mcom'].update([])
degree_dict["master's degree"].update([])
degree_dict['ca'].update([])
degree_dict['ba'].update([])
degree_dict['ma'].update([])
degree_dict['mca'].update([])
degree_dict['bca'].update([])
degree_dict['bsc'].update([])
degree_dict['msc'].update([])
degree_dict['bba'].update([])
degree_dict['bachelor of laws'].update([])
degree_dict['master of laws'].update([])
# degree_dict['pgdba'] = set(['pgdba',])

In [ ]:
def map_degree(value):
    for k, v in degree_dict.items():
        if value in v:
            return k
    return 'others'
for col in degree_cols:
  df[f'mapped_{col}'] = df[col].apply(map_degree)

In [ ]:
degree_dict.keys()

dict_keys(['mba', 'be', 'bachelors degree', 'bcom', 'bba', 'ca', "master's degree", 'mtech', 'mcom', 'ba', 'ma', 'mca', 'bca', 'bsc', 'msc', 'bachelor of laws', 'master of laws'])

In [ ]:
dic = {}
def count_degree(value):
    for k, v in degree_dict.items():
        if k == value:
            dic[k] = dic.get(k, 0) + 1
df[degree_cols].applymap(count_degree)
dic

{"master's degree": 147,
 'mba': 231,
 'bcom': 23,
 'bsc': 28,
 'mca': 17,
 'be': 67,
 'ca': 32,
 'msc': 14,
 'bca': 16,
 'ba': 26,
 'bba': 8,
 'mtech': 3,
 'ma': 5,
 'mcom': 1,
 'bachelors degree': 1}

In [ ]:
coun = 0
for k,v in dic.items():
  coun = coun + v
print(coun)

619

In [ ]:
df.shape

(4132, 699)

In [ ]:
# c = 0
# for degree in cl:
#   c += 1
#   print(f"{degree} - {degree_counts[degree]}")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4132 entries, 0 to 4131
Columns: 699 entries, name to mapped_digree_4
dtypes: float64(35), object(664)
memory usage: 22.0+ MB

In [ ]:
columns_with_sets = [col for col in df.columns if df[col].apply(type).eq(set).any()]

for i in columns_with_sets:
  rows_with_sets = df[df[i].apply(type).eq(set)][columns_with_sets]
  print(rows_with_sets)

In [ ]:
df

,name,location,org_0,title_0,job_0_duration,job_0_location,org_0_sub_0,title_0_sub_0,job_0_sub_0_duration,job_0_sub_0_location,...,mapped_institute_0,mapped_institute_1,mapped_institute_2,mapped_institute_3,mapped_institute_4,mapped_digree_0,mapped_digree_1,mapped_digree_2,mapped_digree_3,mapped_digree_4
0,prasad chandran,palakkadu,swift infos,founder,Greater than 6 years,thrissur,NaN,NaN,NAN,NaN,...,NaN,NaN,NaN,NaN,NaN,others,others,others,others,others
1,tamilmani selvan,erode,vidai labs,founder,1 years,coimbatore,NaN,NaN,NAN,NaN,...,amrita vishwa vidyapeetham,others,others,NaN,NaN,mtech,be,others,others,others
2,shruti shruti,bangalore,apnaklub,cofounder and ceo,4 years,bengaluru,NaN,NaN,NAN,NaN,...,others,indian institute of technology delhi,NaN,NaN,NaN,mba,others,others,others,others
3,siddharth jain,delhi,brewhouse tea brewing co.,founder,Greater than 6 years,delhi,NaN,NaN,NAN,NaN,...,indian institute of management ahmedabad,university of delhi,NaN,NaN,NaN,others,bcom,others,others,others
4,swapnil more,bangalore,alteryx india,founder,4 years,bengaluru,NaN,NaN,NAN,NaN,...,others,others,NaN,NaN,NaN,mba,bcom,others,others,others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4127,aarokia james raja - ajr,chennai,aarokia james has verified their government id.,government id,NAN,NaN,NaN,NaN,NAN,NaN,...,loyola college,NaN,NaN,NaN,NaN,bachelors degree,others,others,others,others
4128,rohit telwade,thane,warlox studios,founder & ceo,2 years,vasai virar,NaN,NaN,NAN,NaN,...,mumbai university,others,others,NaN,NaN,mcom,others,bcom,others,others
4129,parthiv s.,mumbai,self-employed,chief executive officer,5 years,NaN,NaN,NaN,NAN,NaN,...,others,NaN,NaN,NaN,NaN,others,others,others,others,others
4130,sunil tadepalli,delhi,NaN,NaN,NAN,NaN,NaN,NaN,NAN,NaN,...,institute of medical sciences,osmania university,NaN,NaN,NaN,others,others,others,others,others
4131,ravichandran muthu,mumbai,sigma construction company pvt. ltd,managing director,5 years,mumbai,NaN,NaN,NAN,NaN,...,anna university,NaN,NaN,NaN,NaN,others,others,others,others,others

In [ ]:
value_counts = {}

for col in df[degree_cols].columns:
    counts = df[f'mapped_{col}'].value_counts()
    for value, count in counts.items():
        if value in value_counts:
            value_counts[value] += count
        else:
            value_counts[value] = count
value_counts

{'others': 17662,
 'mba': 819,
 'be': 592,
 'bachelors degree': 417,
 "master's degree": 196,
 'bcom': 366,
 'ca': 91,
 'bsc': 125,
 'msc': 72,
 'mca': 50,
 'bba': 73,
 'ba': 73,
 'mtech': 31,
 'ma': 25,
 'bca': 31,
 'mcom': 17,
 'bachelor of laws': 17,
 'master of laws': 3}

In [ ]:
converted = pd.DataFrame.from_dict(value_counts, orient='index').T
converted.to_excel('degree.xlsx',index = False)

In [ ]:
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)
df.to_excel('Linkedin_cleaned.xlsx',index = False)

In [ ]:
df.shape

(4132, 699)

# degree cols done.

In [ ]:
df

,name,location,org_0,title_0,job_0_duration,job_0_location,org_0_sub_0,title_0_sub_0,job_0_sub_0_duration,job_0_sub_0_location,...,mapped_institute_0,mapped_institute_1,mapped_institute_2,mapped_institute_3,mapped_institute_4,mapped_digree_0,mapped_digree_1,mapped_digree_2,mapped_digree_3,mapped_digree_4
0,prasad chandran,palakkadu,swift infos,founder,Greater than 6 years,thrissur,NaN,NaN,NAN,NaN,...,NaN,NaN,NaN,NaN,NaN,others,others,others,others,others
1,tamilmani selvan,erode,vidai labs,founder,1 years,coimbatore,NaN,NaN,NAN,NaN,...,amrita vishwa vidyapeetham,others,others,NaN,NaN,mtech,be,others,others,others
2,shruti shruti,bangalore,apnaklub,cofounder and ceo,4 years,bengaluru,NaN,NaN,NAN,NaN,...,others,indian institute of technology delhi,NaN,NaN,NaN,mba,others,others,others,others
3,siddharth jain,delhi,brewhouse tea brewing co.,founder,Greater than 6 years,delhi,NaN,NaN,NAN,NaN,...,indian institute of management ahmedabad,university of delhi,NaN,NaN,NaN,others,bcom,others,others,others
4,swapnil more,bangalore,alteryx india,founder,4 years,bengaluru,NaN,NaN,NAN,NaN,...,others,others,NaN,NaN,NaN,mba,bcom,others,others,others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4127,aarokia james raja - ajr,chennai,aarokia james has verified their government id.,government id,NAN,NaN,NaN,NaN,NAN,NaN,...,loyola college,NaN,NaN,NaN,NaN,bachelors degree,others,others,others,others
4128,rohit telwade,thane,warlox studios,founder & ceo,2 years,vasai virar,NaN,NaN,NAN,NaN,...,mumbai university,others,others,NaN,NaN,mcom,others,bcom,others,others
4129,parthiv s.,mumbai,self-employed,chief executive officer,5 years,NaN,NaN,NaN,NAN,NaN,...,others,NaN,NaN,NaN,NaN,others,others,others,others,others
4130,sunil tadepalli,delhi,NaN,NaN,NAN,NaN,NaN,NaN,NAN,NaN,...,institute of medical sciences,osmania university,NaN,NaN,NaN,others,others,others,others,others
4131,ravichandran muthu,mumbai,sigma construction company pvt. ltd,managing director,5 years,mumbai,NaN,NaN,NAN,NaN,...,anna university,NaN,NaN,NaN,NaN,others,others,others,others,others

In [ ]:
for i in df.columns:
  print(i)

name
location
org_0
title_0
job_0_duration
job_0_location
org_0_sub_0
title_0_sub_0
job_0_sub_0_duration
job_0_sub_0_location
org_0_sub_1
title_0_sub_1
job_0_sub_1_duration
job_0_sub_1_location
org_0_sub_2
title_0_sub_2
job_0_sub_2_duration
job_0_sub_2_location
org_0_sub_3
title_0_sub_3
job_0_sub_3_duration
job_0_sub_3_location
org_0_sub_4
title_0_sub_4
job_0_sub_4_duration
job_0_sub_4_location
org_0_sub_5
title_0_sub_5
job_0_sub_5_duration
job_0_sub_5_location
org_0_sub_6
title_0_sub_6
job_0_sub_6_duration
job_0_sub_6_location
org_1
title_1
job_1_duration
job_1_location
org_1_sub_0
title_1_sub_0
job_1_sub_0_duration
job_1_sub_0_location
org_1_sub_1
title_1_sub_1
job_1_sub_1_duration
job_1_sub_1_location
org_1_sub_2
title_1_sub_2
job_1_sub_2_duration
job_1_sub_2_location
org_1_sub_3
title_1_sub_3
job_1_sub_3_duration
job_1_sub_3_location
org_1_sub_4
title_1_sub_4
job_1_sub_4_duration
job_1_sub_4_location
org_1_sub_5
title_1_sub_5
job_1_sub_5_duration
job_1_sub_5_location
org_1_sub_6
title_1_sub_6
job_1_sub_6_duration
job_1_sub_6_location
org_1_sub_7
title_1_sub_7
job_1_sub_7_duration
job_1_sub_7_location
org_1_sub_8
title_1_sub_8
job_1_sub_8_duration
job_1_sub_8_location
org_2
title_2
job_2_duration
job_2_location
org_2_sub_0
title_2_sub_0
job_2_sub_0_duration
job_2_sub_0_location
org_2_sub_1
title_2_sub_1
job_2_sub_1_duration
job_2_sub_1_location
org_2_sub_2
title_2_sub_2
job_2_sub_2_duration
job_2_sub_2_location
org_2_sub_3
title_2_sub_3
job_2_sub_3_duration
job_2_sub_3_location
org_2_sub_4
title_2_sub_4
job_2_sub_4_duration
job_2_sub_4_location
org_2_sub_5
title_2_sub_5
job_2_sub_5_duration
job_2_sub_5_location
org_2_sub_6
title_2_sub_6
job_2_sub_6_duration
job_2_sub_6_location
org_2_sub_7
title_2_sub_7
job_2_sub_7_duration
job_2_sub_7_location
org_2_sub_8
title_2_sub_8
job_2_sub_8_duration
job_2_sub_8_location
org_2_sub_9
title_2_sub_9
job_2_sub_9_duration
job_2_sub_9_location
org_3
title_3
job_3_duration
job_3_location
org_3_sub_0
title_3_sub_0
job_3_sub_0_duration
job_3_sub_0_location
org_3_sub_1
title_3_sub_1
job_3_sub_1_duration
job_3_sub_1_location
org_3_sub_2
title_3_sub_2
job_3_sub_2_duration
job_3_sub_2_location
org_3_sub_3
title_3_sub_3
job_3_sub_3_duration
job_3_sub_3_location
org_3_sub_4
title_3_sub_4
job_3_sub_4_duration
job_3_sub_4_location
org_3_sub_5
title_3_sub_5
job_3_sub_5_duration
job_3_sub_5_location
org_3_sub_6
title_3_sub_6
job_3_sub_6_duration
job_3_sub_6_location
org_3_sub_7
title_3_sub_7
job_3_sub_7_duration
job_3_sub_7_location
org_3_sub_8
title_3_sub_8
job_3_sub_8_duration
job_3_sub_8_location
org_3_sub_9
title_3_sub_9
job_3_sub_9_duration
job_3_sub_9_location
org_4
title_4
job_4_duration
job_4_location
org_4_sub_0
title_4_sub_0
job_4_sub_0_duration
job_4_sub_0_location
org_4_sub_1
title_4_sub_1
job_4_sub_1_duration
job_4_sub_1_location
org_4_sub_2
title_4_sub_2
job_4_sub_2_duration
job_4_sub_2_location
org_4_sub_3
title_4_sub_3
job_4_sub_3_duration
job_4_sub_3_location
org_4_sub_4
title_4_sub_4
job_4_sub_4_duration
job_4_sub_4_location
org_4_sub_5
title_4_sub_5
job_4_sub_5_duration
job_4_sub_5_location
org_5
title_5
job_5_duration
job_5_location
org_5_sub_0
title_5_sub_0
job_5_sub_0_duration
job_5_sub_0_location
org_5_sub_1
title_5_sub_1
job_5_sub_1_duration
job_5_sub_1_location
org_5_sub_2
title_5_sub_2
job_5_sub_2_duration
job_5_sub_2_location
org_5_sub_3
title_5_sub_3
job_5_sub_3_duration
job_5_sub_3_location
org_6
title_6
job_6_duration
job_6_location
org_6_sub_0
title_6_sub_0
job_6_sub_0_duration
job_6_sub_0_location
org_6_sub_1
title_6_sub_1
job_6_sub_1_duration
job_6_sub_1_location
org_6_sub_2
title_6_sub_2
job_6_sub_2_duration
job_6_sub_2_location
org_6_sub_3
title_6_sub_3
job_6_sub_3_duration
job_6_sub_3_location
org_6_sub_4
title_6_sub_4
job_6_sub_4_duration
job_6_sub_4_location
org_6_sub_5
title_6_sub_5
job_6_sub_5_duration
job_6_sub_5_location
org_7
title_7
job_7_duration
job_7_location
org_7_sub_0
title_7_sub_0
job_7_sub_0_duration
job_7_sub_0_location
org_7_sub_1
title_7_sub_1
job_7_sub_1_duration
job_7_sub_1_location
org_7_sub_2
title_7_sub_2
job_7_sub_2_duration
job_7_sub_2_location
org_7_sub_3
title_7_sub_3
job_7_sub_3_duration
job_7_sub_3_location
org_7_sub_4
title_7_sub_4
job_7_sub_4_duration
job_7_sub_4_location
org_8
title_8
job_8_duration
job_8_location
org_8_sub_0
title_8_sub_0
job_8_sub_0_duration
job_8_sub_0_location
org_8_sub_1
title_8_sub_1
job_8_sub_1_duration
job_8_sub_1_location
org_8_sub_2
title_8_sub_2
job_8_sub_2_duration
job_8_sub_2_location
org_8_sub_3
title_8_sub_3
job_8_sub_3_duration
job_8_sub_3_location
org_8_sub_4
title_8_sub_4
job_8_sub_4_duration
job_8_sub_4_location
org_9
title_9
job_9_duration
job_9_location
org_9_sub_0
title_9_sub_0
job_9_sub_0_duration
job_9_sub_0_location
org_9_sub_1
title_9_sub_1
job_9_sub_1_duration
job_9_sub_1_location
org_9_sub_2
title_9_sub_2
job_9_sub_2_duration
job_9_sub_2_location
org_9_sub_3
title_9_sub_3
job_9_sub_3_duration
job_9_sub_3_location
org_9_sub_4
title_9_sub_4
job_9_sub_4_duration
job_9_sub_4_location
org_10
title_10
job_10_duration
job_10_location
org_10_sub_0
title_10_sub_0
job_10_sub_0_duration
job_10_sub_0_location
org_10_sub_1
title_10_sub_1
job_10_sub_1_duration
job_10_sub_1_location
org_10_sub_2
title_10_sub_2
job_10_sub_2_duration
job_10_sub_2_location
org_11
title_11
job_11_duration
job_11_location
org_11_sub_0
title_11_sub_0
job_11_sub_0_duration
job_11_sub_0_location
org_11_sub_1
title_11_sub_1
job_11_sub_1_duration
job_11_sub_1_location
org_12
title_12
job_12_duration
job_12_location
org_12_sub_0
title_12_sub_0
job_12_sub_0_duration
job_12_sub_0_location
org_12_sub_1
title_12_sub_1
job_12_sub_1_duration
job_12_sub_1_location
org_12_sub_2
title_12_sub_2
job_12_sub_2_duration
job_12_sub_2_location
org_12_sub_3
title_12_sub_3
job_12_sub_3_duration
job_12_sub_3_location
org_13
title_13
job_13_duration
job_13_location
org_13_sub_0
title_13_sub_0
job_13_sub_0_duration
job_13_sub_0_location
org_13_sub_1
title_13_sub_1
job_13_sub_1_duration
job_13_sub_1_location
org_14
title_14
job_14_duration
job_14_location
org_14_sub_0
title_14_sub_0
job_14_sub_0_duration
job_14_sub_0_location
org_14_sub_1
title_14_sub_1
job_14_sub_1_duration
job_14_sub_1_location
org_15
title_15
job_15_duration
job_15_location
org_15_sub_0
title_15_sub_0
job_15_sub_0_duration
job_15_sub_0_location
org_15_sub_1
title_15_sub_1
job_15_sub_1_duration
job_15_sub_1_location
org_16
title_16
job_16_duration
job_16_location
org_17
title_17
job_17_duration
job_17_location
org_18
title_18
job_18_duration
job_18_location
org_19
title_19
job_19_duration
job_19_location
institute_0
digree_0
digree_0_duration
institute_1
digree_1
digree_1_duration
institute_2
digree_2
digree_2_duration
skill_0
skill_1
skill_2
skill_3
skill_4
skill_5
skill_6
skill_7
skill_8
skill_9
skill_10
skill_11
skill_12
skill_13
skill_14
skill_15
skill_16
skill_17
skill_18
skill_19
skill_20
skill_21
skill_22
skill_23
skill_24
skill_25
skill_26
skill_27
skill_28
skill_29
skill_30
skill_31
skill_32
skill_33
skill_34
skill_35
skill_36
skill_37
skill_38
skill_39
company_0_emp_count
company_0_industry
company_1_emp_count
company_1_industry
company_2_emp_count
company_2_industry
company_3_emp_count
company_3_industry
company_4_emp_count
company_4_industry
company_5_emp_count
company_5_industry
company_6_emp_count
company_6_industry
company_7_emp_count
company_7_industry
company_8_emp_count
company_8_industry
company_9_emp_count
company_9_industry
company_10_emp_count
company_10_industry
company_11_emp_count
company_11_industry
company_12_emp_count
company_12_industry
company_13_emp_count
company_13_industry
company_14_emp_count
company_14_industry
company_15_emp_count
company_15_industry
company_16_emp_count
company_16_industry
company_17_emp_count
company_17_industry
company_18_emp_count
company_18_industry
company_19_emp_count
company_19_industry
institute_3
digree_3
digree_3_duration
institute_4
digree_4
digree_4_duration
employee_count
current_org_industry
mappedcompany_0_industry
mappedcompany_1_industry
mappedcompany_2_industry
mappedcompany_3_industry
mappedcompany_4_industry
mappedcompany_5_industry
mappedcompany_6_industry
mappedcompany_7_industry
mappedcompany_8_industry
mappedcompany_9_industry
mappedcompany_10_industry
mappedcompany_11_industry
mappedcompany_12_industry
mappedcompany_13_industry
mappedcompany_14_industry
mappedcompany_15_industry
mappedcompany_16_industry
mappedcompany_17_industry
mappedcompany_18_industry
mappedcompany_19_industry
mapped_company_0_emp_count
mapped_company_1_emp_count
mapped_company_2_emp_count
mapped_company_3_emp_count
mapped_company_4_emp_count
mapped_company_5_emp_count
mapped_company_6_emp_count
mapped_company_7_emp_count
mapped_company_8_emp_count
mapped_company_9_emp_count
mapped_company_10_emp_count
mapped_company_11_emp_count
mapped_company_12_emp_count
mapped_company_13_emp_count
mapped_company_14_emp_count
mapped_company_15_emp_count
mapped_company_16_emp_count
mapped_company_17_emp_count
mapped_company_18_emp_count
mapped_company_19_emp_count
tier_mapping_institute_0
tier_mapping_institute_1
tier_mapping_institute_2
tier_mapping_institute_3
tier_mapping_institute_4
mapped_institute_0
mapped_institute_1
mapped_institute_2
mapped_institute_3
mapped_institute_4
mapped_digree_0
mapped_digree_1
mapped_digree_2
mapped_digree_3
mapped_digree_4

In [ ]:
titlecols = [col for col in df.columns if 'title' in col]
df['all_titles'] = df[titlecols].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)#--------------------------------------remove punctuvation
df.drop(columns=titlecols, inplace=True)

org_cols = ([col for col in df.columns if 'org' in col])
df['all_org_cols'] = df[org_cols].apply(lambda row: ','.join(row.dropna().astype(str)), axis=1)
df.drop(columns=org_cols, inplace=True)

job_location_cols = [col for col in df.columns if 'location' in col]
df['all_loc_cols'] = df[job_location_cols].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)
df.drop(columns=job_location_cols, inplace=True)

institute_cols = [col for col in df.columns if 'institute' in col]
df['all_instutes'] = df[institute_cols].apply(lambda row: ','.join(row.dropna().astype(str)), axis=1)
df.drop(columns=institute_cols, inplace=True)

degree_cols = [col for col in df.columns if 'digree' in col and 'duration' not in col]
df['all_degree'] = df[degree_cols].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)
df.drop(columns=degree_cols, inplace=True)

# 'skill',
# 'company_emp_count', 'company_industry',

skil_col = [col for col in df.columns if 'skill' in col]
# df['all_skills'] = df[skil_col].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)
df.drop(columns=skil_col, inplace=True)

comp_emp_count = [col for col in df.columns if 'company' in col and 'emp' in col]            # how big are their company exp's so we are totaling the info.
# comp_emp_count.append('employee_count')
df['all_comp_emp_count'] = df[comp_emp_count].sum(axis=1)
df.drop(columns=comp_emp_count, inplace=True) #not enough data

comp_ind = [col for col in df.columns if 'company' in col and 'industry' in col]
df['all_comp_ind'] = df[comp_ind].apply(lambda row: ' '.join(row.dropna().astype(str)), axis=1)
df.drop(columns=comp_ind, inplace=True)

In [ ]:
df.to_csv('retrival_database.csv',index = False)

In [ ]:
del df['name']

In [ ]:
df = pd.get_dummies(df,columns = job_duration_cols)
df = pd.get_dummies(df,columns = degree_duration_cols)

In [ ]:
df.iloc[:,75:]

# vectorizing

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

def vectorize_columns_method1(df, columns_to_vectorize):
    tfidf_vectorizer_method1 = TfidfVectorizer(tokenizer=lambda x: x.split(','))
    job_titles_method1 = df[columns_to_vectorize].apply(lambda row: ','.join(row), axis=1)
    job_title_matrix_method1 = tfidf_vectorizer_method1.fit_transform(job_titles_method1)
    job_title_vector_df_method1 = pd.DataFrame(job_title_matrix_method1.toarray(), columns=tfidf_vectorizer_method1.get_feature_names_out())
    return job_title_vector_df_method1,tfidf_vectorizer_method1

def vectorize_columns_method2(df, columns_to_vectorize):
    tfidf_vectorizer_method2 = TfidfVectorizer()
    job_titles_method2 = df[columns_to_vectorize].apply(lambda row: ' '.join(row), axis=1)
    job_title_matrix_method2 = tfidf_vectorizer_method2.fit_transform(job_titles_method2)
    job_title_vector_df_method2 = pd.DataFrame(job_title_matrix_method2.toarray(), columns=tfidf_vectorizer_method2.get_feature_names_out())
    return job_title_vector_df_method2,tfidf_vectorizer_method2

# 'all_titles', 'all_org_cols', 'all_loc_cols', 'all_instutes',
#        'all_degree', 'all_comp_emp_count', 'all_comp_ind'

columns_to_vectorize_1 = ['all_org_cols','all_instutes']
columns_to_vectorize_2 = [ 'all_titles', 'all_loc_cols', 'all_degree', 'all_comp_ind']

vectorized_df_method1,tfidf_vectorizer_method1 = vectorize_columns_method1(df, columns_to_vectorize_1)
vectorized_df_method2,tfidf_vectorizer_method2 = vectorize_columns_method2(df, columns_to_vectorize_2)

# Concatenate the vectorized DataFrames horizontally
result_df = pd.concat([df, vectorized_df_method1, vectorized_df_method2], axis=1)

# Drop the non-vectorized columns
result_df = result_df.drop(columns=columns_to_vectorize_1)
result_df = result_df.drop(columns=columns_to_vectorize_2)
# Print the resulting DataFrame

In [ ]:
orgdf

In [ ]:
orgdf.to_csv('retrivaldata.csv',index=False)

In [ ]:
info_df = result_df.count()
info_df = pd.DataFrame({'Column': info_df.index, 'Non-Null Count': info_df.values})
info_df = info_df.sort_values(by='Non-Null Count', ascending=False)
info_df = info_df.reset_index(drop = True)
info_df

In [ ]:
result_df.info()

# ML

In [ ]:
# # Step 1: Split the Data
# from sklearn.model_selection import train_test_split

# # Assuming 'tfidf_df' is your TF-IDF vectorized DataFrame
# x_train, x_test = train_test_split(tfidf_df, test_size=0.2, random_state=42)

# # Step 2: Train a Model (k-Nearest Neighbors)
# from sklearn.neighbors import NearestNeighbors

# # Create the k-NN model
# knn_model = NearestNeighbors(n_neighbors=5, algorithm='auto', metric='cosine')
# knn_model.fit(x_train)

# # Step 3: Generate Recommendations
# # Assuming 'user_input' is the vectorized input of the user
# # Find the top 4 most similar profiles for each user input
# user_input = x_test.iloc[5]  # Change the index (5) to any user index you want to test
# user_input = user_input.values.reshape(1, -1)  # Reshape to 2D array

# # Find the top 4 most similar profiles for the specific user input
# distances, indices = knn_model.kneighbors(user_input, n_neighbors=4)

# # Get the indices of the most similar profiles for the specific user
# top_4_indices = indices[0]

# # Get the top 4 profiles for the specific user from the original DataFrame
# top_4_profiles = df.iloc[top_4_indices]

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split, GridSearchCV

x_train, x_test = train_test_split(result_df, test_size=0.25, random_state=42)
from sklearn.neighbors import NearestNeighbors

knn_model = NearestNeighbors(algorithm='auto', metric='cosine')
param_grid = {'n_neighbors': [3, 5, 7, 10, 15, 20]}

grid_search = GridSearchCV(knn_model, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(x_train)

best_k = grid_search.best_params_['n_neighbors']
print(best_k)

knn_model = NearestNeighbors(n_neighbors=best_k, algorithm='auto', metric='cosine')
knn_model.fit(x_train)

ValueError: ignored

In [ ]:
x_train[:1].to_csv('x_train.csv',index=False)

In [ ]:
x_train[:1]

In [ ]:
from google.colab import files
import pickle

with open('/content/knn_model_linkedin.pkl', 'wb') as file:
    pickle.dump(knn_model, file)

files.download('/content/knn_model_linkedin.pkl')

In [ ]:
user_input = x_test.iloc[5]  # Change the index (5) to any user index you want to test
user_input = user_input.values.reshape(1, -1)  # Reshape to 2D array

distances, indices = knn_model.kneighbors(user_input, n_neighbors=4)
print('distances ',distances)
top_4_indices = indices[0]

top_4_profiles = orgdf.iloc[top_4_indices]
top_4_profiles

In [ ]:
indices[0]

In [ ]:
distances

In [ ]:
cosine_distances = [0.00345241, 0.00346511, 0.00361493, 0.00381158]
cosine_similarity_scores = [1 - distance for distance in cosine_distances]

print("Cosine Similarity Scores:", cosine_similarity_scores)

In [ ]:
x_test

In [ ]:
user_input = x_test.iloc[10]
user_input = user_input.values.reshape(1, -1)  # Reshape to 2D array

# Find the top 4 most similar profiles for the specific user input
distances, indices = knn_model.kneighbors(user_input, n_neighbors=4)

# Get the indices of the most similar profiles for the specific user
top_4_indices = indices[0]

# Get the top 4 profiles for the specific user from the original DataFrame
top_4_profiles = orgdf.iloc[top_4_indices]

In [ ]:
top_4_profiles = top_4_profiles.dropna(axis=1, how='all')
top_4_profiles = top_4_profiles.loc[:, (top_4_profiles != 0.0).any()]
top_4_profiles

In [ ]:
row_index = 220
row_df = orgdf.iloc[row_index].to_frame().T
row_df = row_df.dropna(axis=1, how='all')
row_df = row_df.loc[:, (row_df != 0.0).any()]
row_df.to_csv('input.csv',index = False)

In [ ]:
x_train

In [ ]:
row_df

In [ ]:
distances

In [ ]:
top_4_profiles.to_csv('top_4_profiles.csv',index = False)