In [208]:
import pandas as pd
from datetime import datetime
import numpy as np

In [209]:
df_2021 = pd.read_csv('2021.csv')
df_2022 = pd.read_csv('2022.csv')
df_2023 = pd.read_csv('2023.csv')

In [210]:
df_2021.columns = df_2021.columns.str.replace(r'\W+', '_', regex=True).str.replace(r'_+', '_', regex=True).str.strip('_').str.lower()
df_2022.columns = df_2022.columns.str.replace(r'\W+', '_', regex=True).str.replace(r'_+', '_', regex=True).str.strip('_').str.lower()
df_2023.columns = df_2023.columns.str.replace(r'\W+', '_', regex=True).str.replace(r'_+', '_', regex=True).str.strip('_').str.lower()

In [211]:
distinct_companies = set()
distinct_companies.update(set(df_2021['company_name']))
distinct_companies.update(set(df_2022['company_name']))
distinct_companies.update(set(df_2023['company_name']))
output_df = pd.DataFrame({'Companies': list(distinct_companies)})

In [212]:
df2021 = pd.DataFrame(set(df_2021['company_name'].unique()),columns=['company_name'])
df2022 = pd.DataFrame(set(df_2022['company_name'].unique()),columns=['company_name'])
df2023 = pd.DataFrame(set(df_2023['company_name'].unique()),columns=['company_name'])

In [213]:
output_df = pd.merge(output_df,df2021['company_name'], how='left', left_on='Companies', right_on='company_name')
output_df.rename(columns={'company_name':'2021'},inplace=True)
output_df = pd.merge(output_df,df2022['company_name'], how='left', left_on='Companies', right_on='company_name')
output_df.rename(columns={'company_name':'2022'},inplace=True)
output_df = pd.merge(output_df,df2023['company_name'], how='left', left_on='Companies', right_on='company_name')
output_df.rename(columns={'company_name':'2023'},inplace=True)
output_df

,Companies,2021,2022,2023
0,Transport Corporation Of India Ltd.,Transport Corporation Of India Ltd.,Transport Corporation Of India Ltd.,Transport Corporation Of India Ltd.
1,Vardhman Acrylics Ltd.,Vardhman Acrylics Ltd.,Vardhman Acrylics Ltd.,Vardhman Acrylics Ltd.
2,V R L Logistics Ltd.,V R L Logistics Ltd.,NaN,V R L Logistics Ltd.
3,Ashiana Housing Ltd.,Ashiana Housing Ltd.,Ashiana Housing Ltd.,Ashiana Housing Ltd.
4,N C L Industries Ltd.,N C L Industries Ltd.,N C L Industries Ltd.,N C L Industries Ltd.
...,...,...,...,...
2235,Navneet Education Ltd.,Navneet Education Ltd.,Navneet Education Ltd.,Navneet Education Ltd.
2236,Heranba Industries Ltd.,Heranba Industries Ltd.,Heranba Industries Ltd.,Heranba Industries Ltd.
2237,Sandur Manganese & Iron Ores Ltd.,Sandur Manganese & Iron Ores Ltd.,Sandur Manganese & Iron Ores Ltd.,Sandur Manganese & Iron Ores Ltd.
2238,Vikas Ecotech Ltd.,Vikas Ecotech Ltd.,Vikas Ecotech Ltd.,Vikas Ecotech Ltd.
2239,Sanofi India Ltd.,Sanofi India Ltd.,Sanofi India Ltd.,Sanofi India Ltd.

In [214]:
output_df['2021'] = output_df['2021'].apply(lambda x: 'YES' if isinstance(x, str) else 'NO' if pd.isna(x) else x)
output_df['2022'] = output_df['2022'].apply(lambda x: 'YES' if isinstance(x, str) else 'NO' if pd.isna(x) else x)
output_df['2023'] = output_df['2023'].apply(lambda x: 'YES' if isinstance(x, str) else 'NO' if pd.isna(x) else x)
output_df.to_excel('output.xlsx',index=False)

In [215]:
maper = {'CEO':'CEO - Chief Executive Officer',
 'CFO':'CFO - Chief Financial Officer',
 'COO':'COO - Chief Operating Officer',
 'CIO':'CIO - Chief Information Officer'
 }

In [216]:
title_maps_df = pd.read_csv('titles_maps.csv')
title_maps_df['Mapped roles'] = title_maps_df['Mapped roles'].replace(maper)
title_maps_df.dropna(inplace=True)

In [217]:
tmaper = title_maps_df.set_index('Unnamed: 0')['Mapped roles'].to_dict()

In [218]:
df_2021['designation'] = df_2021['designation'].replace(tmaper)
df_2022['director_designation'] = df_2022['director_designation'].replace(tmaper)
df_2023['designation'] = df_2023['designation'].replace(tmaper)

In [219]:
df_2022.columns

Index(['sno', 'company_name', 'unnamed_2', 'isin', 'industry_g_nse',
       'director_name', 'slot_date', 'date', 'director_designation',
       'board_meetings_attended', 'salary', 'directors_sitting_fees',
       'contribution_to_provident_fund', 'bonus_commission', 'perquisites',
       'retirement_benefits', 'stock_options_amt', 'other_remuneration',
       'total_remuneration', 'executive_nonexec', 'mca_din',
       'promoter_non_promoter_classification',
       'independent_non_independent_classification',
       'no_of_oth_cos_chairperson', 'has_resigned', 'no_of_committee_pos_held',
       'has_retired', 'last_agm_attended', 'appointment_date',
       'resignation_date', 'no_of_oth_cos_director', 'designation_category',
       'market_capitalisation_2022', 'total_assets_2022', 'sales_2022',
       'pat_2022', 'nse500', 'nifty_smallcap_250', 'nifty_mnc',
       'nifty_microcap_250', 'nifty_midcap_100', 'nifty_pharma',
       'nifty_healthcare_index', 'nifty_infrastructure', 'nifty_energy',
       'nifty_services_sector', 'nifty_metal', 'nifty_oil_gas',
       'nifty_consumer_durables', 'nifty_auto', 'nifty_bank',
       'nifty_financial_services', 'nifty_private_bank', 'nifty_psu_bank',
       'nifty_realty', 'nifty_fmcg', 'nifty_it', 'nifty_media',
       'incorporation_year', 'industry_group_prowess', 'nic_name',
       'nse_symbol', 'nse_listing_date_of_equity_shares', 'bse_group',
       'bse_scrip_code', 'bse_scrip_id', 'bse_listing_date_of_equity_shares',
       'tr_avg', 'eps_avg', 'pe_avg', 'age'],
      dtype='object')

In [220]:
#drop nan
#creta the anul sal col.
#rename the colls.
#

In [222]:
# company_name                           Maan Aluminium Ltd.
# salary_indian_rupee                              4363000.0
# date                                            31-03-2021
# directors_sitting_fees_indian_rupee                    NaN
# appointment_date_date                           13-02-2021
# total_remuneration_indian_rupee                  4363000.0

In [223]:
def anulizer(df):
    apdaf = 0
    redaf = 0
    odate = datetime.strptime(df[2], '%d-%m-%Y')
    if isinstance(df[4], str):
        if len(df[4]) > 4:
            adate = datetime.strptime(df[4], '%d-%m-%Y')
            apdaf = 1
            
    if isinstance(df[6], str):
        if len(df[6]) > 4:
            rdate = datetime.strptime(df[6], '%d-%m-%Y')
            redaf = 1
            
    if apdaf == 0 and redaf == 0:
        return
    
    if apdaf == 1 and redaf == 0:
        date_diff = odate - adate
        date_diff = date_diff.days 
        if date_diff > 0:
            l = [(df.iloc[1] * 365) / date_diff, (df.iloc[3] * 365) / date_diff, (df.iloc[5] * 365) / date_diff]
            return l
    
    if apdaf == 0 and redaf == 1:
        date_diff = (odate - rdate)
        date_diff = 365 - date_diff.days 
        if date_diff > 0:
            l = [(df.iloc[1] * 365) / date_diff, (df.iloc[3] * 365) / date_diff, (df.iloc[5] * 365) / date_diff]
            return l
            
    if apdaf == 1 and redaf == 1:
        date_diff = (rdate - adate)
        date_diff = date_diff.days 
        if date_diff > 0:
            l = [(df.iloc[1] * 365) / date_diff, (df.iloc[3] * 365) / date_diff, (df.iloc[5] * 365) / date_diff]
            return l

In [224]:
desiglist = {'CEO - Chief Executive Officer','CFO - Chief Financial Officer','COO - Chief Operating Officer','CIO - Chief Information Officer','Company Secretary'}

In [225]:
for desig in desiglist:    
    # desig = 'Company Secretary'
    # desig = 'COO - Chief Operating Officer'
    # desig = 'CEO - Chief Executive Officer'
    
    df = pd.DataFrame()
    df['company_name'] = output_df['Companies']

    temp = df_2021[df_2021['designation']==desig][['company_name','salary_indian_rupee']].sort_values(by=['company_name', 'salary_indian_rupee'], ascending=False).drop_duplicates(subset='company_name',keep='first')
    reqcols = df_2021[['date','directors_sitting_fees_indian_rupee','appointment_date_date','total_remuneration_indian_rupee','resignation_date_date']]
    temp = pd.merge(temp,reqcols,how ='left',left_index=True,right_index=True).dropna(subset='salary_indian_rupee')

    for k, v in temp.iterrows():
        res = anulizer(v)
        if res is not None:
            if res[1] is not None:
                temp.at[k, 'directors_sitting_fees_indian_rupee'] = res[1]
            if res[2] is not None:
                temp.at[k, 'total_remuneration_indian_rupee'] = res[2]
            if res[0] is not None:
                temp.at[k, 'salary_indian_rupee'] = res[0]
    temp.drop(columns=['date','appointment_date_date','resignation_date_date'],inplace = True)
    temp.rename(columns={'salary_indian_rupee':'2021_salary',
                        'directors_sitting_fees_indian_rupee':'2021_directors_fees',
                        'total_remuneration_indian_rupee':'2021_total_remuneration'},inplace=True)
    df = pd.merge(df,temp,how = 'left',on='company_name')
    #------------------------------------------------------------------------------------------------------
    temp = df_2022[df_2022['director_designation']==desig][['company_name','salary']].sort_values(by=['company_name', 'salary'], ascending=False).drop_duplicates(subset='company_name',keep='first')
    reqcols = df_2022[['date','directors_sitting_fees','appointment_date','total_remuneration','resignation_date']]
    temp = pd.merge(temp,reqcols,how ='left',left_index=True,right_index=True).dropna(subset='salary')

    for k, v in temp.iterrows():
        res = anulizer(v)
        if res is not None:
            if res[1] is not None:
                temp.at[k, 'directors_sitting_fees'] = res[1]
            if res[2] is not None:
                temp.at[k, 'total_remuneration'] = res[2]
            if res[0] is not None:
                temp.at[k, 'salary'] = res[0]
    temp.drop(columns=['date','appointment_date','resignation_date'],inplace = True)
    temp.rename(columns={'salary':'2022_salary',
                        'directors_sitting_fees':'2022_directors_fees',
                        'total_remuneration':'2022_total_remuneration'},inplace=True)
    df = pd.merge(df,temp,how = 'left',on='company_name')
    #------------------------------------------------------------------------------------------------------
    temp = df_2023[df_2023['designation']==desig][['company_name','salary_indian_rupee']].sort_values(by=['company_name', 'salary_indian_rupee'], ascending=False).drop_duplicates(subset='company_name',keep='first')
    reqcols = df_2023[['date','directors_sitting_fees_indian_rupee','appointment_date_date','total_remuneration_indian_rupee','resignation_date_date']]
    temp = pd.merge(temp,reqcols,how ='left',left_index=True,right_index=True).dropna(subset='salary_indian_rupee')

    for k, v in temp.iterrows():
        res = anulizer(v)
        if res is not None:
            if res[1] is not None:
                temp.at[k, 'directors_sitting_fees_indian_rupee'] = res[1]
            if res[2] is not None:
                temp.at[k, 'total_remuneration_indian_rupee'] = res[2]
            if res[0] is not None:
                temp.at[k, 'salary_indian_rupee'] = res[0]
    temp.drop(columns=['date','appointment_date_date','resignation_date_date'],inplace = True)
    temp.rename(columns={'salary_indian_rupee':'2023_salary',
                        'directors_sitting_fees_indian_rupee':'2023_directors_fees',
                        'total_remuneration_indian_rupee':'2023_total_remuneration'},inplace=True)
    df = pd.merge(df,temp,how = 'left',on='company_name')
    #------------------------------------------------------------------------------------------------------

    df['change_2021-2022'] = ((df['2022_salary'] - df['2021_salary']) / df['2021_salary']) * 100
    df['change_2022-2023'] = ((df['2023_salary'] - df['2022_salary']) / df['2022_salary']) * 100
    df['change_2021-2022'] = df['change_2021-2022'].apply(lambda x: f'{round(x):,.0f}%' if not pd.isna(x) and x != np.inf and x != -np.inf else x)
    df['change_2022-2023'] = df['change_2022-2023'].apply(lambda x: f'{round(x):,.0f}%' if not pd.isna(x) and x != np.inf and x != -np.inf else x)

    salary_columns = ['2021_salary', '2022_salary', '2023_salary']
    df.replace(0, np.nan, inplace=True)
    df = df[df[salary_columns].apply(lambda x: any(x >= 2000000), axis=1)]
    df.to_excel(desig+'.xlsx',index=False)

In [ ]:
# we need percent to linearize.
# df  above exists only untill the role is extracted.
# we will use filter the percent data first and then filter the original data and map the values.