In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter

In [2]:
df = pd.read_excel('salary_and_company_mapping.xlsx')

In [3]:
df.columns

Index(['job_title', 'company_name', 'experience', 'salary', 'location',
       'description', 'posted_on', 'current_date', 'skill1', 'skill2',
       'skill3', 'skill4', 'skill5', 'skill6', 'skill7', 'skill8', 'role',
       'industry_type', 'department', 'employment_type', 'role_category',
       'job_description', 'mapped_average_sal', 'mapped_job_title',
       'mapped_job_title_1', 'combined_skills', 'salmin', 'salmax',
       'ori_experience', 'minexp', 'maxexp', 'avg_experience'],
      dtype='object')

In [4]:
df['current_date'] = pd.to_datetime(df['current_date'])

In [5]:
df[df['department'] == 'bfsi, investments & trading'].to_excel('bfsi, investments & trading.xlsx',index=False)

In [7]:
df['experience'].unique()

array(['5-8', '0-2', '15+', '2-5', '8-11'], dtype=object)

In [66]:
for i in df['department'].unique():
    print(i)

Nan
engineering - software & qa
production, manufacturing & engineering
bfsi, investments & trading
sales & business development
consulting
human resources
it & information security
healthcare & life sciences
data science & analytics
marketing & communication
engineering - hardware & networks
ux, design & architecture
environment health & safety
research & development
finance & accounting
food, beverage & hospitality
customer success, service & operations
other
construction & site engineering
content, editorial & journalism
project & program management
procurement & supply chain

In [68]:
df[df['industry_type'].str.contains('finan|bank', case=False, na=False)][['maxexp','salmax']].max()

maxexp     24.0
salmax    400.0
dtype: float64

In [46]:
df['mapped_average_sal'] = (df['salmin'] + df['salmax']) / 2

In [47]:
df['current_date'] = pd.to_datetime(df['current_date'])

# Filter data for 'finan' or 'bank' in industry_type
filtered_df = df[(df['industry_type'].str.contains('finan|bank', case=False, na=False)) & (df['mapped_job_title'] != 'unclassified')]

# Sort the values by 'mapped_average_sal'
sorted_df = filtered_df.sort_values(by='mapped_average_sal', ascending=False)

In [52]:
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 56605 to 84607
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   job_title           2175 non-null   object
 1   company_name        2175 non-null   object
 2   experience          2175 non-null   object
 3   salary              2175 non-null   object
 4   location            0 non-null      float64
 5   description         48 non-null     object
 6   posted_on           2175 non-null   object
 7   current_date        2175 non-null   datetime64[ns]
 8   skill1              1208 non-null   object
 9   skill2              1057 non-null   object
 10  skill3              959 non-null    object
 11  skill4              1080 non-null   object
 12  skill5              961 non-null    object
 13  skill6              897 non-null    object
 14  skill7              848 non-null    object
 15  skill8              824 non-null    object
 16  role                2175 non-null   object
 17  industry_type       2175 non-null   object
 18  department          2175 non-null   object
 19  employment_type     2175 non-null   object
 20  role_category       2175 non-null   object
 21  job_description     331 non-null    object
 22  mapped_average_sal  2161 non-null   float64
 23  avg_experience      2170 non-null   float64
 24  mapped_job_title    2175 non-null   object
 25  mapped_job_title_1  2175 non-null   object
 26  combined_skills     2175 non-null   object
 27  salmin              2161 non-null   float64
 28  salmax              2161 non-null   float64
 29  minexp              2175 non-null   int64
 30  maxexp              2175 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(23)
memory usage: 543.8+ KB

In [55]:
sorted_df[(sorted_df['minexp'] > 2) & (sorted_df['minexp'] > 10)]

,job_title,company_name,experience,salary,location,description,posted_on,current_date,skill1,skill2,...,job_description,mapped_average_sal,avg_experience,mapped_job_title,mapped_job_title_1,combined_skills,salmin,salmax,minexp,maxexp
56605,Head Sales - Corporate Banking,axis bank,18-24 Yrs,50-70 Lacs PA,NaN,NaN,1 Day Ago,2023-11-30,NaN,NaN,...,••••,60.00,21.0,"BFSI, Investments & Trading",Head Sales Corporate Banking,"Banking,Sales,Banking,Commercial",50.0,70.0,18,24
69284,Data Engineering Lead_ Core Java Python SQL_ c...,a leading multinational investment bank,15-20 Yrs,45-60 Lacs PA,NaN,NaN,1 Day Ago,2024-01-04,NaN,Java,...,NaN,52.50,17.5,Data Engineer,Data Engineering Lead Core Java Python Sql Cap...,"Java,Snowflake Cloud Data Platform,Python,Bank...",45.0,60.0,15,20
73800,Executive Director - Investment Banking,a leading boutique investment banking firm,12-18 Yrs,35-50 Lacs PA,NaN,NaN,1 Day Ago,2024-01-17,NaN,Sourcing,...,’––,42.50,15.0,"BFSI, Investments & Trading",Executive Director Investment Banking,"Sourcing,Banking",35.0,50.0,12,18
44723,Sr. Manager_Human Resource,acz global,17-22 Yrs,30-45 Lacs PA,NaN,•,1 Day Ago,2023-11-08,Human Resources (HR),Human Resources (HR),...,•••••••••••••••••••••••••••••••,37.50,19.5,Human Resources,Sr Manager Human Resource,"Human Resources (HR),Human Resources (HR),Huma...",30.0,45.0,17,22
54479,VP-Java Fullstack Developer,fintech firm,14-19 Yrs,30-45 Lacs PA,NaN,NaN,1 Day Ago,2023-11-28,Java Script,Angular,...,NaN,37.50,16.5,Java Developer,Vp Java Fullstack Developer,"Java Script,Angular,Cascading Style Sheets (CS...",30.0,45.0,14,19
42309,Head - Information Security,sapwood ventures,15-20 Yrs,35-40 Lacs PA,NaN,NaN,1 Day Ago,2023-11-03,NaN,Cyber Security,...,NaN,37.50,17.5,IT & Information Security,Head Information Security,"Cyber Security,Security Information and Event ...",35.0,40.0,15,20
49835,Manager - HR / Head Human Resource,ushema mansystem,15-24 Yrs,25-40 Lacs PA,NaN,NaN,1 Day Ago,2023-11-16,NaN,Human Resources (HR),...,NaN,32.50,19.5,HR Generalist,Manager Hr Head Human Resource,"Human Resources (HR),Human Resources (HR),Perf...",25.0,40.0,15,24
55364,AVP- Investment Banking Ops | Asset Servicing ...,global mnc,13-19 Yrs,22.5-37.5 Lacs PA,NaN,NaN,1 Day Ago,2023-11-29,NaN,NaN,...,NaN,30.00,16.0,"BFSI, Investments & Trading",Avp Investment Banking Ops Asset Servicing Set...,Banking,22.5,37.5,13,19
41521,Sr. VP - BD Investment Banking,omnifin solutions,15-20 Yrs,22.5-35 Lacs PA,NaN,NaN,1 Day Ago,2023-11-02,Business Development,Banking,...,NaN,28.75,17.5,"BFSI, Investments & Trading",Sr Vp Bd Investment Banking,"Business Development,Banking,Banking,Business ...",22.5,35.0,15,20
59941,Sr.Manager - Real Estate / Private Equity Fund...,credence hr services,12-16 Yrs,25-30 Lacs PA,NaN,NaN,1 Day Ago,2023-12-06,Accounting,NaN,...,NaN,27.50,14.0,Real Estate Sales,Sr Manager Real Estate Private Equity Fund Acc...,"Accounting,Real Estate,.NET",25.0,30.0,12,16
62150,Chief Manager - IT Security,honeybeez consultancy,15-20 Yrs,18-30 Lacs PA,NaN,NaN,1 Day Ago,2023-12-12,NaN,NaN,...,NaN,24.00,17.5,IT & Information Security,Chief Manager It Security,Security Information and Event Management (SIE...,18.0,30.0,15,20
72768,Sr. Manager - Investment Banking,career konnection,17-20 Yrs,20-27.5 Lacs PA,NaN,NaN,1 Day Ago,2024-01-15,NaN,Banking,...,NaN,23.75,18.5,"BFSI, Investments & Trading",Sr Manager Investment Banking,"Banking,Accounting,Accounting",20.0,27.5,17,20
40726,RM Head & Branch Head - Top Bank,gips consultancy,11-17 Yrs,17-30 Lacs PA,NaN,NaN,1 Day Ago,2023-11-02,Retail,NaN,...,NaN,23.50,14.0,Branch Sales Manager,Rm Branch Head Bank,"Retail,Leadership,Portfolio Management,Sales",17.0,30.0,11,17
77820,Cluster Head - Karnataka | Small Finance Bank,macrohire,15-20 Yrs,15-20 Lacs PA,NaN,NaN,1 Day Ago,2024-01-31,Retail,Sales,...,NaN,17.50,17.5,"BFSI, Investments & Trading",Cluster Head Karnataka Small Finance Bank,"Retail,Sales,Banking,Banking,Banking,Retail",15.0,20.0,15,20
43464,ATM Switch (10+ Years) For Banking Infotech Se...,uni-eservices hr solutions,12-14 Yrs,12-18 Lacs PA,NaN,NaN,Just Now,2023-11-06,NaN,NaN,...,NaN,15.00,13.0,"BFSI, Investments & Trading",Atm Switch 10 Banking Infotech Sector,Banking,12.0,18.0,12,14

In [62]:
for expran in ['0-2','2-5','5-8','8-10','10-13','13-16']:
    min_exp = int(expran.split('-')[0])
    max_exp = int(expran.split('-')[1])
        
    plt.figure(figsize=(12, 8))

    tempdf = sorted_df[(sorted_df['minexp'] >= min_exp) & (sorted_df['minexp'] <= max_exp)]
    sns.lineplot(data=tempdf, x='current_date', y='mapped_average_sal', markers=True, errorbar=None)

    # Add labels and title
    plt.xlabel('Date')
    plt.ylabel('Average Salary')
    plt.title(f'Trend Chart of Average Salary in Finance/Banking for Experience {expran}')

    # Rotate x-axis labels for better readability
    plt.xticks(rotation=45)
    date_form = DateFormatter("%Y-%b-%d")  # Abbreviated month names
    plt.gca().xaxis.set_major_formatter(date_form)
    plt.xticks(rotation=45)

    # Display the plot
    plt.tight_layout()
    filename = f'average_salary_{expran}.png'
    plt.savefig(filename)
    plt.close()
    plt.show()