In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('E:/Programs/Naukri_butisoup/latest_backup_mixed.parquet')

In [3]:
df.columns

Index(['id', 'job_title', 'company_name', 'experience', 'salary', 'location',
       'posted_on', 'extracted_on', 'skill1', 'skill2', 'skill3', 'skill4',
       'skill5', 'skill6', 'skill7', 'skill8', 'role', 'industry_type',
       'department', 'employment_type', 'role_category', 'mapped_average_sal',
       'mapped_job_title', 'mapped_job_title_1', 'combined_skills', 'salmin',
       'salmax', 'ori_experience', 'minexp', 'maxexp', 'title_id',
       'avg_experience'],
      dtype='object')

In [4]:
subset = ['job_title', 'company_name', 'experience', 'salary', 'location',
       'skill1', 'skill2', 'skill3', 'skill4','skill5', 'skill6', 'skill7', 'skill8', 'role', 'industry_type',
       'department', 'employment_type', 'role_category', 'mapped_average_sal',
       'mapped_job_title', 'mapped_job_title_1', 'combined_skills', 'salmin',
       'salmax', 'ori_experience', 'minexp', 'maxexp', 'title_id','avg_experience']

In [5]:
df.drop_duplicates(subset= subset, inplace=True)

In [6]:
df.reset_index(drop=True,inplace=True)

In [7]:
del df['id']

In [8]:
df.shape

(254186, 31)

In [9]:
df['company_name'].unique()

array(['tech mahindra', 'hcltech', 'oxilum technologies', ...,
       'revata engineering', 'neel metal products ltd',
       'orion digital pvt ltd'], dtype=object)

In [10]:
df.columns

Index(['job_title', 'company_name', 'experience', 'salary', 'location',
       'posted_on', 'extracted_on', 'skill1', 'skill2', 'skill3', 'skill4',
       'skill5', 'skill6', 'skill7', 'skill8', 'role', 'industry_type',
       'department', 'employment_type', 'role_category', 'mapped_average_sal',
       'mapped_job_title', 'mapped_job_title_1', 'combined_skills', 'salmin',
       'salmax', 'ori_experience', 'minexp', 'maxexp', 'title_id',
       'avg_experience'],
      dtype='object')

In [11]:
df[df['industry_type'].str.contains('ship')].to_excel('shiping_data.xlsx',index=False) #['industry_type'].unique()

In [12]:
industries = df['industry_type'].unique().tolist()
industries.remove('Nan')

induslis = []
for i in industries:
    rows = df[df['industry_type'] == i].shape[0]
    induslis.append({'no_rows':rows,'industry':i})
indusdf = pd.DataFrame(induslis)

In [13]:
indusdf.sort_values(by='no_rows',ascending=False,inplace=True)

In [14]:
df['role'] = df['role'].fillna('')

In [15]:
roles_counts = []
roles = df['role'].unique()
for role in roles:
    s = df[df['role']==role].shape[0]
    if s > 1000:
        roles_counts.append({'count':s,'role':role})

In [16]:
pd.DataFrame(roles_counts).sort_values(by='count')

    count                                      role
24   1011        Business Development Manager (BDM)
27   1037                     Field Sales Executive
33   1049     Quality Assurance and Testing - Other
31   1059        IT Infrastructure Services - Other
12   1071     Blockchain Quality Assurance Engineer
3    1100                        back end developer
23   1113                             ERP Developer
6    1125  recruitment & talent acquisition - other
14   1133           System Administrator / Engineer
20   1141         IT & Information Security - Other
8    1155                                 telesales
9    1164      Business Development Executive (BDE)
30   1167                     IT Consulting - Other
35   1230           Security Architect / Consultant
15   1246                         Financial Analyst
25   1266                          Business Analyst
32   1279                  Data warehouse Developer
21   1285                      Technical Consultant
4    1309                     field sales executive
29   1344                    Database Administrator
10   1457                             Data Engineer
19   1615                          Customer Service
2    1674                      full stack developer
7    1719        business development manager (bdm)
36   1806                        Solution Architect
28   1905                     Functional Consultant
1    2018              software development - other
26   2025                        IT Support - Other
5    2782      business development executive (bde)
34   3176                       Technical Architect
17   3760                                     Other
16   5209                            Technical Lead
11   7404                        Back End Developer
22   8486
13   9358              Software Development - Other
18   9636                      Full Stack Developer
0   37975                                       Nan

In [17]:
industries = df[df['role'].str.contains(r'business development executive \(bde\)',case=False)]['industry_type'].unique().tolist()
industries

['education / training',
 'electrical equipment',
 'beverage (brewery / distillery)',
 'fmcg',
 'miscellaneous',
 'design',
 'banking',
 'industrial equipment / machinery (machine tools)',
 'insurance',
 'pharmaceutical & life sciences',
 'recruitment / staffing',
 'water treatment / waste management',
 'e-learning / edtech',
 'internet (e-commerce)',
 'bpo / call centre',
 'it services & consulting',
 'real estate',
 'engineering & construction',
 'financial services (broking)',
 'courier / logistics (logistics tech)',
 'advertising & marketing',
 'industrial equipment / machinery',
 'hotels & restaurants',
 'industrial automation',
 'software product',
 'gaming',
 'financial services',
 'agriculture / forestry / fishing (agri-tech)',
 'power (solar)',
 'accounting / auditing',
 'advertising & marketing (public relations)',
 'automobile (automobile dealers)',
 'hardware & networking',
 'advertising & marketing (digital marketing)',
 'emerging technologies (drones/robotics)',
 'textile & apparel (yarn & fabric)',
 'automobile',
 'electronics manufacturing (electronic manufacturing services (ems))',
 'investment banking / venture capital / private equity',
 'medical services / hospital',
 'courier / logistics',
 'management consulting',
 'internet',
 'electronic components / semiconductors',
 'real estate (co-working)',
 'chemicals (paints)',
 'medical devices & equipment',
 'building material',
 'tv / radio',
 'legal',
 'analytics / kpo / research',
 'packaging & containers',
 'fintech / payments',
 'gems & jewellery',
 'iron & steel',
 'travel & tourism',
 'petrochemical / plastics / rubber',
 'fitness & wellness',
 'ngo / social services / industry associations',
 'pulp & paper',
 'chemicals',
 'sports / leisure & recreation',
 'architecture / interior design',
 'textile & apparel (technical textile)',
 'law enforcement / security services',
 'medical services / hospital (diagnostics)',
 'import & export',
 'financial services (asset management)',
 'retail',
 'oil & gas',
 'telecom / isp',
 'fmcg (tobacco)',
 'film / music / entertainment',
 'furniture & furnishing',
 'printing & publishing',
 'auto components',
 'clinical research / contract research',
 'textile & apparel',
 'events / live entertainment',
 'nbfc (micro finance)',
 'building material (ceramic)',
 'fertilizers / pesticides / agro chemicals',
 'industrial equipment / machinery (construction equipment)',
 'electronics manufacturing',
 'consumer electronics & appliances',
 'building material (cement)',
 'beverage',
 'food processing',
 'biotechnology',
 'power',
 'urban transport',
 'building material (glass)',
 'nbfc',
 'agriculture / forestry / fishing',
 'emerging technologies (cybersecurity)',
 'facility management services',
 'defence & aerospace',
 'animation & vfx',
 'metals & mining',
 'automobile (electric vehicle (ev))',
 'BPO / Call Centre',
 'Banking',
 'Industrial Equipment / Machinery (Machine Tools)',
 'IT Services & Consulting',
 'Architecture / Interior Design',
 'Insurance',
 'Engineering & Construction',
 'Animation & VFX',
 'E-Learning / EdTech',
 'Education / Training',
 'Courier / Logistics (Logistics Tech)',
 'NBFC',
 'Courier / Logistics',
 'Hotels & Restaurants',
 'Retail',
 'Industrial Automation',
 'Building Material',
 'Pharmaceutical & Life Sciences',
 'Travel & Tourism',
 'Advertising & Marketing (Digital Marketing)',
 'Medical Devices & Equipment',
 'Software Product',
 'Internet (E-Commerce)',
 'Events / Live Entertainment',
 'Management Consulting',
 'Packaging & Containers',
 'Chemicals',
 'Financial Services',
 'Internet',
 'Recruitment / Staffing',
 'Medical Services / Hospital',
 'Accounting / Auditing',
 'Power (Solar)',
 'Industrial Equipment / Machinery',
 'TV / Radio',
 'Advertising & Marketing',
 'Investment Banking / Venture Capital / Private Equity',
 'Analytics / KPO / Research',
 'Beverage (Brewery / Distillery)',
 'Real Estate',
 'Legal',
 'Telecom / ISP',
 'Iron & Steel',
 'Electronic Components / Semiconductors',
 'Consumer Electronics & Appliances',
 'Electrical Equipment',
 'Financial Services (Broking)',
 'Fitness & Wellness',
 'Hardware & Networking',
 'NBFC (Micro Finance)',
 'Biotechnology',
 'Gems & Jewellery',
 'Film / Music / Entertainment',
 'Agriculture / Forestry / Fishing',
 'Agriculture / Forestry / Fishing (Agri-tech)',
 'Water Treatment / Waste Management',
 'Oil & Gas',
 'FinTech / Payments',
 'Real Estate (Co-working)',
 'Printing & Publishing',
 'Design',
 'Metals & Mining',
 'Automobile',
 'Sports / Leisure & Recreation',
 'Building Material (Glass)',
 'Aviation',
 'Miscellaneous',
 'Textile & Apparel (Yarn & Fabric)',
 'Automobile (Automobile Dealers)',
 'FMCG',
 'Beverage',
 'NGO / Social Services / Industry Associations']

In [18]:
skillcol = [col for col in df.columns if 'skill' in col and 'comb' not in col]

In [19]:
mostcomskills = {}
for inde,row in df[(df['role'].str.contains(r'business development executive \(bde\)',case=False))].iterrows():
    for skill in row[skillcol].tolist():
        if skill in mostcomskills:
            mostcomskills[skill] += 1
        else:
            mostcomskills[skill] = 1

In [20]:
pd.DataFrame.from_dict(mostcomskills, orient='index',columns=['count']).sort_values(by='count',ascending=False).head(30)

                                        count
None                                    15151
Sales                                    6406
Business Development                     2123
Counseling                               1275
Oral / Verbal Communication               794
Lead Generation                           774
Inside Sales                              760
Business to Business (B2B) Sales          362
Field Sales                               230
Presentation                              208
Insurance                                 179
Negotiation                               166
Real Estate                               140
Leadership                                139
Banking                                   123
Customer Service                          120
Retail                                    113
Customer Relationship Management (CRM)    110
Technical Sales                            96
Market Research                            92
Outbound Calls                             88
Sales Management                           88
Presentations                              78
Customer Relations                         72
Team Management                            67
Digital Marketing                          67
Microsoft Office                           65
Enterprise Resource Planning (ERP)         62
Email Marketing                            58
Training                                   57

In [32]:
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

In [33]:
df[(df['role'].str.contains(r'business development executive \(bde\)',case=False)) & (df['industry_type'] == 'insurance') ]
   # &
   # ((df['minexp']>=0)) & (df['maxexp']<=100)].describe()

,job_title,company_name,experience,salary,location,posted_on,extracted_on,skill1,skill2,skill3,...,mapped_job_title,mapped_job_title_1,combined_skills,salmin,salmax,ori_experience,minexp,maxexp,title_id,avg_experience
38156,Hiring Insurance Sales Advisor For a Hdfc,my tel recruitment solutions,2-5,1-4 Lacs PA,"Noida,Chennai,Delhi",Few Hours Ago,2023-10-30,Sales,Inside Sales,None,...,unclassified,Insurance Sales Advisor Hdfc,"Sales,Inside Sales,Sales,Sales,Sales,Sales,Ban...",1.00,4.00,2-5,2.0,5.0,0,3.0
39295,Bancassurance Sales Manager,masterkey management consultants,5-8,2-3.5 Lacs PA,"Hyderabad, telangana,Chennai,Bangalore,Chennai...",1 Day Ago,2023-11-01,Insurance,Sales,None,...,unclassified,Bancassurance Sales Manager,"Insurance,Sales,Sales,Sales",2.00,3.50,5-8,5.0,8.0,0,6.0
40424,Team Lead | Business Development Executive | J...,parth associates,5-8,3-5 Lacs PA,"Chennai,Bangalore,Ujjain,Bangalore,Sikar,Banga...",1 Day Ago,2023-11-01,Insurance,None,Sales,...,Business Development,Team Lead Business Development Executive,"Insurance,Sales,Sales,Sales,Insurance",3.00,5.00,5-8,5.0,8.0,13,6.0
41185,Openings For Sr. Sales Manager- Insurance,willpower consultants,8-11,1.25-4 Lacs PA,"Chennai,Bangalore,Chennai,Chennai,Bangalore,Pa...",1 Day Ago,2023-11-02,Sales,Sales,Sales,...,unclassified,Sr Sales Manager Insurance,"Sales,Sales,Sales,Field Sales,Business Develop...",1.25,4.00,8-11,8.0,11.0,0,9.0
41469,Inside Sales Associate,policybazaar,None,2.5-4 Lacs PA,nan,1 Day Ago,2023-11-02,Inside Sales,None,Sales,...,Inside Sales,Inside Sales Associate,"Inside Sales,Sales",2.50,4.00,None,NaN,NaN,40,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85666,Business Development Executive,shining stars institution & travels,2-5,"50,000-2.25 Lacs PA","Mumbai,Bangalore",1 Day Ago,2024-02-20,Sales,Sales,Sales,...,Business Development,Business Development Executive,"Sales,Sales,Sales,Sales,Sales,Sales",0.50,2.25,2-5,2.0,5.0,13,3.0
86409,Business Development Executive,md india health insurance tpa pvt ltd,None,1.5-2 Lacs PA,nan,1 Day Ago,2024-02-22,Oral / Verbal Communication,None,None,...,Business Development,Business Development Executive,"Oral / Verbal Communication,Business Development",1.50,2.00,None,NaN,NaN,13,NaN
89157,Business Development Executive,shining stars institution & travels,5-8,2.5-3.5 Lacs PA,"Chennai,Bangalore,Chennai,Bangalore,Chennai",1 Day Ago,2024-02-27,Sales,None,Sales,...,Business Development,Business Development Executive,"Sales,Sales,Sales,Sales,Insurance",2.50,3.50,5-8,5.0,8.0,13,6.0
89360,Inside sales- Freshers- Day Shift,sales,0-2,2-2.75 Lacs PA,"Chennai,Bangalore,Chennai,Chennai",1 Day Ago,2024-02-29,Sales,Customer Relations,Sales,...,Inside Sales,Inside Sales,"Sales,Customer Relations,Sales,Sales,Sales,Ins...",2.00,2.75,0-2,0.0,2.0,40,1.0
89361,"Hiring For Telesales Process || English, Hindi...",sales,0-2,1.75-3 Lacs PA,"Chennai,Chennai",1 Day Ago,2024-02-29,Sales,None,Sales,...,Tele Sales,Telesales Process,"Sales,Sales,Insurance,Banking,Sales,Telemarketing",1.75,3.00,0-2,0.0,2.0,77,1.0

In [22]:
for i in industries:
    s = df[(df['role'].str.contains(r'business development executive \(bde\)',case=False) & (df['industry_type'] == i))].shape[0]
    if s > 16:
        print(s,'****',i)

325 **** education / training
21 **** electrical equipment
34 **** fmcg
39 **** miscellaneous
117 **** banking
17 **** industrial equipment / machinery (machine tools)
77 **** insurance
39 **** pharmaceutical & life sciences
69 **** recruitment / staffing
330 **** e-learning / edtech
56 **** internet (e-commerce)
261 **** bpo / call centre
345 **** it services & consulting
62 **** real estate
34 **** engineering & construction
32 **** financial services (broking)
137 **** advertising & marketing
24 **** industrial equipment / machinery
29 **** industrial automation
42 **** software product
43 **** financial services
39 **** advertising & marketing (public relations)
17 **** hardware & networking
29 **** advertising & marketing (digital marketing)
19 **** electronics manufacturing (electronic manufacturing services (ems))
22 **** medical services / hospital
18 **** internet
31 **** real estate (co-working)
26 **** medical devices & equipment
44 **** analytics / kpo / research
22 **** travel & tourism
21 **** chemicals
74 **** BPO / Call Centre
77 **** Banking
224 **** IT Services & Consulting
23 **** Engineering & Construction
94 **** E-Learning / EdTech
88 **** Education / Training
18 **** Courier / Logistics
37 **** Retail
17 **** Pharmaceutical & Life Sciences
24 **** Travel & Tourism
30 **** Software Product
24 **** Management Consulting
43 **** Internet
69 **** Recruitment / Staffing
24 **** Medical Services / Hospital
24 **** Advertising & Marketing

In [ ]:
'it services & consulting',
       'industrial equipment / machinery (machine tools)', 'banking',
       'management consulting', 'electronic components / semiconductors',
       'bpo / call centre', 'miscellaneous', 'software product',
       'internet (ott)', 'financial services', 'recruitment / staffing',
       'analytics / kpo / research',
       'courier / logistics (logistics tech)', 'accounting / auditing',
       'automobile', 'education / training', 'travel & tourism',
       'telecom / isp', 'medical devices & equipment',
       'electronics manufacturing', 'insurance', 'legal',
       'textile & apparel (fashion)', 'nbfc', 'industrial automation',
       'fmcg', 'financial services (asset management)', 'aviation',
       'emerging technologies', 'film / music / entertainment',
       'automobile (electric vehicle (ev))', 'electrical equipment',
       'fintech / payments', 'engineering & construction',
       'investment banking / venture capital / private equity',
       'oil & gas', 'printing & publishing',
       'electronics manufacturing (electronic manufacturing services (ems))',
       'defence & aerospace',
       'advertising & marketing (digital marketing)',
       'medical services / hospital', 'auto components',
       'fitness & wellness', 'automobile (automobile dealers)',
       'sports / leisure & recreation', 'internet',
       'internet (e-commerce)', 'emerging technologies (cloud)',
       'hardware & networking', 'pharmaceutical & life sciences',
       'building material (glass)', 'consumer electronics & appliances',
       'food processing (meat / poultry)', 'e-learning / edtech',
       'retail', 'ports & shipping', 'government / public administration',
       'railways', 'iron & steel', 'industrial equipment / machinery',
       'gaming', 'power (hydro)', 'emerging technologies (cybersecurity)',
       'nbfc (micro finance)', 'petrochemical / plastics / rubber',
       'packaging & containers',
       'medical services / hospital (diagnostics)',
       'advertising & marketing', 'emerging technologies (ai/ml)'

In [14]:
indusdf

     no_rows                            industry
129    80600            IT Services & Consulting
0      14880            it services & consulting
142     8488                        unclassified
135     4645                             Banking
125     4336         Medical Services / Hospital
..       ...                                 ...
75         3             food processing (sugar)
222        2         Emerging Technologies (IoT)
206        2      Textile & Apparel (Handicraft)
251        2  Emerging Technologies (Blockchain)
252        2       Emerging Technologies (AR/VR)

[253 rows x 2 columns]

In [47]:
industries =  softdf[softdf['location'].str.contains('Che')]['industry_type'].unique().tolist()
industries.remove('Nan')
for i in industries:
    try:
        lenth = softdf[(softdf['location'].str.contains('Che')) & (softdf['industry_type'] == i)].shape[0]
        print(i,lenth)
    except:
        None

it services & consulting 85
software product 25
tv / radio 1
medical devices & equipment 2
insurance 1
banking 1
electrical equipment 1
internet (e-commerce) 2
automobile 2
fintech / payments 1
auto components 2
engineering & construction 1
pharmaceutical & life sciences 2
emerging technologies (ai/ml) 1
e-learning / edtech 1
investment banking / venture capital / private equity 1
printing & publishing 1
industrial automation 1
emerging technologies (cybersecurity) 1
defence & aerospace 1
electronic components / semiconductors 1
analytics / kpo / research 1
medical services / hospital (diagnostics) 1
unclassified 68
Telecom / ISP 15
Industrial Automation 36
Law Enforcement / Security Services 6
IT Services & Consulting 325
Banking 16
Software Product 22
Electronic Components / Semiconductors 26
Miscellaneous 10
FMCG 4
Accounting / Auditing 1
Defence & Aerospace 2
Animation & VFX 15
Power 3
Film / Music / Entertainment 11
Engineering & Construction 2
Management Consulting 7
Investment Banking / Venture Capital / Private Equity 1
Financial Services 4
Education / Training 4
Medical Services / Hospital 8
Travel & Tourism 2
Recruitment / Staffing 2
Industrial Equipment / Machinery 2
Oil & Gas 2
Aviation 2
Advertising & Marketing (Digital Marketing) 4
Hardware & Networking 2

In [46]:
softdf[(softdf['location'].str.contains('Che')) & (softdf['industry_type'] == i)].shape

(2, 31)

In [48]:
softdf[(softdf['location'].str.contains('Che')) & (softdf['industry_type'] == 'unclassified')]

,job_title,company_name,experience,salary,location,posted_on,extracted_on,skill1,skill2,skill3,...,mapped_job_title,mapped_job_title_1,combined_skills,salmin,salmax,ori_experience,minexp,maxexp,title_id,avg_experience
90431,SOFTWARE DEVELOPER INTERN,n/a,0-2,3-6,Chennai,Posted: 7 days ago,2024-03-06,None,None,Java Script,...,Software Development,Software Developer Intern,"Java Script,C++ Programming Language,Cascading...",3.0,6.0,0-2,0.0,2.0,71,1.0
91500,FABRIC SOFTWARE DEVELOPER,n/a,5-8,3-6,Chennai,Posted: 9 days ago,2024-03-06,Kubernetes,Python,PostgreSQL,...,Software Development,Fabric Software Developer,"Kubernetes,Python,PostgreSQL,Oral / Verbal Com...",3.0,6.0,5-8,5.0,8.0,71,6.0
91501,SOFTWARE DEVELOPER,n/a,2-5,3-6,Chennai,Posted: 9 days ago,2024-03-06,None,Software Development,Applications,...,Software Development,Software Developer,"Software Development,Applications,Microservice...",3.0,6.0,2-5,2.0,5.0,71,3.0
91556,SOFTWARE DEVELOPER,n/a,8-11,3-6,Chennai,Posted: 7 days ago,2024-03-06,Kubernetes,Python,None,...,Software Development,Software Developer,"Kubernetes,Python,Linux,Oral / Verbal Communic...",3.0,6.0,8-11,8.0,11.0,71,9.0
91561,SOFTWARE DEVELOPER,n/a,8-11,3-6,Chennai,Posted: 7 days ago,2024-03-06,None,Java Script,Oral / Verbal Communication,...,Software Development,Software Developer,"Java Script,Oral / Verbal Communication,Agile ...",3.0,6.0,8-11,8.0,11.0,71,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224341,SENIOR SOFTWARE DEVELOPER,n/a,8-11,10-15,Chennai,Posted: 25 days ago,2024-04-03,Debug,None,Software Development,...,Software Development,Senior Software Developer,"Debug,Software Development,Kubernetes,C++ Prog...",10.0,15.0,From 6 to 11 year(s) of experience,8.0,11.0,71,9.0
228811,LEAD/SR SOFTWARE DEVELOPER,n/a,5-8,15-25,Chennai,Posted: 6 days ago,2024-04-04,.NET Core,C# Programming Language,None,...,Software Development,Lead Sr Software Developer,".NET Core,C# Programming Language,Test Driven ...",15.0,25.0,From 5 to 7 year(s) of experience,5.0,8.0,71,6.0
228842,LEAD/SR SOFTWARE DEVELOPER,n/a,5-8,15-25,Chennai,Posted: 7 days ago,2024-04-04,Software Development,C# Programming Language,Test Driven Development (TDD),...,Software Development,Lead Sr Software Developer,"Software Development,C# Programming Language,T...",15.0,25.0,From 5 to 7 year(s) of experience,5.0,8.0,71,6.0
229232,SOFTWARE DEVELOPER,n/a,11-14,15-25,"Hyderabad,Chennai,Chennai",Posted: 19 days ago,2024-04-04,Python,Python,None,...,Software Development,Software Developer,"Python,Python,Object Oriented Programming (OOP...",15.0,25.0,From 9 to 14 year(s) of experience,11.0,14.0,71,12.0
235700,SOFTWARE DEVELOPER,n/a,11-14,25-50,"Hyderabad,Chennai,Chennai",Posted: 20 days ago,2024-04-04,Python,Python,None,...,Software Development,Software Developer,"Python,Python,Object Oriented Programming (OOP...",25.0,50.0,From 9 to 14 year(s) of experience,11.0,14.0,71,12.0

In [34]:
df[df['industry_type'].str.contains('real')]#.to_excel('realestate_data.xlsx',index=False)

,job_title,company_name,experience,salary,location,posted_on,extracted_on,skill1,skill2,skill3,...,mapped_job_title,mapped_job_title_1,combined_skills,salmin,salmax,ori_experience,minexp,maxexp,title_id,avg_experience
38044,Regional Head,"credvest india pvt. ltd.,",None,9-13 Lacs PA,nan,1 Day Ago,2023-10-30,None,None,Sales,...,unclassified,,"Sales,Negotiation,Mentoring,Sales",9.00,13.0,None,NaN,NaN,0,NaN
38076,Sales - Real Estate Bangalore,talentways consultancy group,5-8,2.5-6 Lacs PA,Chennai,Few Hours Ago,2023-10-30,Real Estate,Human Resources (HR),Sales Management,...,Real Estate Sales,Sales Real Estate,"Real Estate,Human Resources (HR),Sales Managem...",2.50,6.0,5-8,5.0,8.0,56,6.0
38110,Senior Manager /Manager - Collections/CRM,naiknavare developers,15+,6-10 Lacs PA,Chennai,1 Day Ago,2023-10-30,Real Estate,None,None,...,unclassified,Senior Manager Collections Crm,"Real Estate,Customer Relationship Management (...",6.00,10.0,15+,NaN,NaN,0,NaN
38118,Graphic Designer,marketing space,5-8,2.5-5.5 Lacs PA,"Mumbai,Bangalore,Chennai, kalyan dombivli,Bang...",1 Day Ago,2023-10-30,Graphic Design,None,Graphic Design,...,Graphic Designer,Graphic Designer,"Graphic Design,Graphic Design,Adobe Photoshop",2.50,5.5,5-8,5.0,8.0,33,6.0
38135,Telecalling Executive,adityaram properties,5-8,1.75-4.5 Lacs PA,Chennai,1 Day Ago,2023-10-30,None,Sales,None,...,Tele Sales,Telecalling Executive,"Sales,Inbound Calls,Outbound Calls",1.75,4.5,5-8,5.0,8.0,77,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89588,Need Senior HR Manager For Real estate - Gurug...,modern vidya niketan,15+,12-20 Lacs PA,"Gurugram, haryana",1 Day Ago,2024-02-29,None,Recruiting,None,...,Real Estate Sales,Need Senior Hr Manager Real Estate,"Recruiting,Real Estate",12.00,20.0,15+,NaN,NaN,56,NaN
89603,Account Manager,proptiger,5-8,4-7 Lacs PA,"Gurugram, haryana",1 Day Ago,2024-02-29,Field Sales,Lead Generation,None,...,Account Manager,Account Manager,"Field Sales,Lead Generation,Lead Generation,Bu...",4.00,7.0,5-8,5.0,8.0,2,6.0
89665,Photoshop Editor,groavy buildcon llp,5-8,1.75-3.5 Lacs PA,"Hyderabad,Hyderabad,Chennai,Bangalore,Chennai,...",1 Day Ago,2024-02-29,Editing,Adobe Photoshop,Editing,...,unclassified,Photoshop Editor,"Editing,Adobe Photoshop,Editing",1.75,3.5,5-8,5.0,8.0,0,6.0
89762,Urgently Hiring Senior Wordpress Developer @ V...,homebazaar.com,8-11,3-6 Lacs PA,"Mumbai,Bangalore",1 Day Ago,2024-03-01,None,None,Wordpress,...,Wordpress Developer,Senior Wordpress Developer Vashi,"Wordpress,Wordpress,Web Design",3.00,6.0,8-11,8.0,11.0,81,9.0
89764,Opportunity For Senior Sales Manager (Real Est...,home bazaar services,8-11,4-8 Lacs PA,"Mumbai,Chennai,Mumbai",1 Day Ago,2024-03-01,Sales,Real Estate,Sales,...,Real Estate Sales,Senior Sales Manager Real Estate,"Sales,Real Estate,Sales,Field Sales,Sales,Real...",4.00,8.0,8-11,8.0,11.0,56,9.0